/* Tab options */
.maxwidth .name,
.maxwidth .teamname {
  width: 8em;
  max-width: 8em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidenames .name,
.hidenames .playercol {
  display: none;
}

.hideteamname .teamname,
.hideteamname .teamcol {
  display: none;
}

.hidefinished .matchtable.finished {
  display: none;
}