.project
.settings
*/.settings
.metadata
Thumbs.db
thumbs.db
.*.swp
*~
#*#
build/
build-chromeapp/
dev/
sprite_new.png
node_modules/
basic/index.html
boule/index.html
tac/index.html
lib/
.vs
*.user
*.dll
obj/
style/mainstyle.css
scripts/core/common.js
test/scripts/test.js
*/scripts/require.js
test/scripts/qunit.js
test/style/qunit.css
tmp/
npm-debug.log
package-lock.json
