.project
.settings
*/.settings
.metadata
Thumbs.db
thumbs.db
.*.swp
*~
#*#
/build/
build-chromeapp/
dev/
sprite_new.png
node_modules/
/lib/
.vs
*.user
*.dll
obj/
style/mainstyle.css
test/scripts/test.js
test/scripts/require.js
test/scripts/qunit.js
test/style/qunit.css
tmp/
npm-debug.log
/.idea/