.project
.settings
*/.settings
.metadata
Thumbs.db
thumbs.db
.*.swp
*~
#*#
build/
build-chromeapp/
dev/
sprite_new.png
node_modules/
basic/index.html
boule/index.html
tac/index.html
bower_components/
lib/
.vs
*.user
core/scripts/common.js
bin/
obj/
style/mainstyle.css
