body {
  background-color: gray;
  padding: 0;
  border-width: 0;
  margin: 0;
  min-width: 20em;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.h2 {
  font-size: 150%;
  font-weight: bold;
  margin: 0.5em;
}

.menu {
  height: 3em;
}

.menu > div {
  float: left;
  height: 100%;
  width: 3em;
  background-color: lightgray;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
  padding: 1em 1em 0em 1em;
  margin: 0.5em 0em 0em 0.5em;
  border-radius: 1em 1em 0em 0em;
  cursor: pointer;
}

.menu .open {
  background-color: white;
}

#playersicon {
  background-image: url('images/people-icon.jpg');
}

#newicon {
  background-image: url('images/plus.png');
}

.main {
  margin: 0.5em;
  padding: 0.5em;
  clear: both;
  border-radius: 0em 1em 1em 1em;
  background-color: white;
  text-align: center;
  display: none;
}

.main:target, .profile {
  display: block;
}

#profile {
  display: none;
}

.clear {
  clear: both;
}

.player {
  display: block;
  float: left;
  margin: 0.5em;
  border-radius: 0.5em;
  background-color: lightgrey;
  width: 13em;
  height: 4em;
  padding: 0.5em;
  text-align: left;
}

.player .name {
  font-weight: bold;
}

.player .gender {
  text-align: right;
}

.player .gender:not(.f) .f {
  display: none;
}

.player .gender.f .m {
  display: none;
}

.player .city {
}

.player .assoc {
  font-style: italic;
}

.player.tpl {
  display: none;
}

.noplayers {
  display: none;
}

.noplayers:nth-child(4) {
  display: block;
}

.profile .gender:not(.f) .f {
  display: none;
}

.profile .gender.f .m {
  display: none;
}

.profile td {
  padding-left: 1em;
  text-align: left;
}

