body {
  background-color: gray;
  padding: 0;
  border-width: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.menu {
  height: 3em;
}

.menu > div {
  float: left;
  height: 100%;
  width: 3em;
  background-color: lightgray;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
  padding: 1em 1em 0em 1em;
  margin: 0.5em 0em 0em 0.5em;
  border-radius: 1em 1em 0em 0em;
  cursor: pointer;
}

.menu .open {
  background-color: white;
}

#playersicon {
  background-image: url('images/people-icon.jpg');
}

#sundayicon {
  background-image: url('images/sun.png');
}

#newicon {
  background-image: url('images/plus.png');
}

.main {
  margin: 0.5em;
  padding: 0.5em;
  clear: both;
  border-radius: 0em 1em 1em 1em;
  background-color: white;
  text-align: center;
  display: none;
}

.main:target {
  display: block;
}

.clear {
  clear: both;
}

.player {
  float: left;
  width: 16em;
  height: 4em;
  background-color: lightgray;
  text-align: left;
  margin: .2em;
  padding: .5em;
  border-radius: .8em;
  overflow: hidden;
}

.player .name {
  font-weight: bold;
}

.player input {
  width: 10em;
  border-radius: 0.3em;
}

.player .active, .player .inactive {
  right: 1em;
  margin-right: 1em;
  border-radius: .5em;
  padding: 0em .3em 0em .3em;
  cursor: pointer;
}

.player .active {
  background-color: lightgreen;
}

.player .active:hover {
  background-color: green;
}

.player.inactive {
  background-color: gray;
}

.player.inactive .active {
  display: none;
}

.player .inactive {
  background-color: darkred;
  display: none;
}

.player.inactive .inactive {
  display: inline;
}

.player.inactive .inactive:hover {
  background-color: red;
}

.player .gender {
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.player .gender.f .m, .player .gender.m .f {
  display: none;
}

.player .technique {
  color: gray;
  cursor: pointer;
  font-weight: bold;
}

.player.inactive .technique {
  color: lightgray;
}

.player .technique.s .s , .player .technique.l .l {
  color: black;
}

.player .pool {
  font-weight: bold;
  color: gray;
  cursor: pointer;
}

.player.inactive .pool {
  color: lightgray;
}

.player .pool.a .a, .player .pool.b .b {
  color: black;
}

.player.tpl {
  display: none;
}
