body {
  background-color: gray;
  padding: 0;
  border-width: 0;
  margin: 0;
  min-width: 20em;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.h2 {
  font-size: 150%;
  font-weight: bold;
  margin: 0.5em;
}

.menu {
  height: 3em;
}

.menu > div {
  float: left;
  height: 100%;
  width: 3em;
  background-color: lightgray;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
  padding: 1em 1em 0em 1em;
  margin: 0.5em 0em 0em 0.5em;
  border-radius: 1em 1em 0em 0em;
  cursor: pointer;
}

.menu .open {
  background-color: white;
}

#playersicon {
  background-image: url('images/people-icon.jpg');
}

#rankingicon {
  background-image: url('images/ranking.png');
}

#newicon {
  background-image: url('images/plus.png');
}

.main {
  margin: 0.5em;
  padding: 0.5em;
  clear: both;
  border-radius: 0em 1em 1em 1em;
  background-color: white;
  text-align: center;
  display: none;
}

.main:target, .profile {
  display: block;
}

#profile {
  display: none;
}

.clear {
  clear: both;
}

.player {
  display: block;
  float: left;
  margin: 0.5em;
  border-radius: 0.5em;
  background-color: lightgrey;
  width: 13em;
  padding: 0.5em;
  text-align: left;
}

.player .name {
  font-weight: bold;
}

.player .gender {
  text-align: right;
}

.player .gender:not(.f) .f {
  display: none;
}

.player .gender.f .m {
  display: none;
}

.player .city {
}

.player .assoc {
  font-style: italic;
}

.player.tpl {
  display: none;
}

.noplayers {
  display: none;
}

.noplayers:nth-child(3) {
  display: block;
}

.profile .gender:not(.f) .f {
  display: none;
}

.profile .gender.f .m {
  display: none;
}

.profile table td:nth-child(2):not(.gender) {
  cursor: text;
  padding-right: 1em;
}

.profile table .gender span, .profile table .gender {
  cursor: pointer;
}

.profile table td:nth-child(2):hover {
  background-color: lightgray;
}

.profile td {
  padding-left: 1em;
  text-align: left;
}

.profile td.tmp {
  padding: 0em;
}

.redbg {
  background-color: red;
}

#newplayer_input  {
  text-align: center;
}

#newplayer input {
  -webkit-transition: background-color 0.5s ease-out;
  width: 13em;
}

#newplayer_input .year {
  width: 6em;
}

#newplayer_input .gender {
  display: inline-block;
  text-align: center;
  width: 5.4em;
  background-color: white;
  border-radius: 1em;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  cursor: pointer;
}

#newplayer_input .gender:not(.f) .f {
  display: none;
}

#newplayer_input .gender.f .m {
  display: none;
}

#newplayer:not(.preview) .preview {
  display: none;
}

#newplayer.preview form {
  display: none;
}

#newplayer.preview input {
  width: 6.5em;
}

