.tt-dropdown-menu {
  width: 100%;
  background-color: #ffffff;
  margin-left: 0em;
}

.tt-suggestion {
  display: block;
  margin-left: 0em;
}

.tt-suggestion.tt-cursor {
  background-color: #adadad;
}

.tt-query {
  color: #ff0000;
}

.tt-hint {
  color: #adadad;
}

.tt-suggestion p {
  margin: 0;
}

