div.box {
  position: relative;
  margin: 1em;
  padding: 1em;
  border-top-style: none;
  border: solid 1px;
  border-radius: 1em;
  overflow: hidden;
  text-align: center;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: -o-min-content;
  min-width: min-content;
  vertical-align: top;
  background-color: #ffffff;
}

div.box.collapsed {
  border-radius: 1em 1em 0em 0em;
}

div.box > h3:first-child {
  position: relative;
  display: block;
  padding: 0.3em 1em 0.2em 1em;
  margin: -1em -1em 1em -1em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: #d0d0d0;
  text-align: center;
  cursor: pointer;
}
