.fontsizeview {
  display: inline-block;
}

.fontsizeview > button {
  vertical-align: middle;
  height: 1.2em;
  width: 1em;
}

.fontsizesmall .fontsizeview > button.fontsizesmall,
.fontsizetiny .fontsizeview > button.fontsizetiny,
.fontsizelarge .fontsizeview > button.fontsizelarge,
.fontsizehuge .fontsizeview > button.fontsizehuge,
.fontsizenormal .fontsizeview > button.fontsizenormal {
  background-color: #808080;
}

@media print {
  .fontsizeview {
    display: none;
  }
}
