#games .game, #games .votes .vote {
  display: inline-block;
  margin: 0.5em;
  border-radius: 0.5em;
  border: solid 0.2em #808080;
  background-color: #d3d3d3;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
}

#games .game > div {
  display: table;
  margin: 0.0em;
  padding: 0.0em;
  width: 100%;
}

#games .game .finish {
  display: table-cell;
  text-align: center;
}

#games .game .teamno {
  display: table-cell;
  background: none;
}

#games .game input {
  width: 3em;
  text-align: center;
}

#games .game button {
  width: 6.5em;
  border: none;
  box-shadow: inset 0px 0px 1px #000000;
  border-radius: 5px;
  background-color: #d3d3d3;
  transition: color 0.2s;
}

/* this is awesome! */
#games .game button:not([disabled]):hover {
  cursor: pointer;
}

#games .names {
  display: table-cell;
  padding: 0em 0.3em;
  font-weight: bold;
  vertical-align: middle;
}

#games.maxwidth .names {
  width: 8em;
  max-width: 8em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#games.hidenames .names {
  display: none;
}

#games .names.left {
  text-align: left;
}

#games .names.right {
  text-align: right;
}

#games .votes {
  text-align: left;
}

#games .votes > div {
  overflow: auto;
}

#games .votes .team {
  margin: 0.0em;
}

#games .votes .vote {
  display: table;
  float: left;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 0.2em;
  border-color: #808080;
  background-color: #d3d3d3;
  margin: 0.5em;
  white-space: nowrap;
}

#games .votes .vote .teamno {
  display: table-cell;
}

#games:not(.hidenames) .votes .vote .names {
  display: table-cell;
}
