body {
  background-color: #808080;
  padding: 0;
  border-width: 0;
  margin: 0;
}

a[href] {
  color: inherit;
  text-decoration: underline;
}

a.hiddenlink {
  text-decoration: none;
  opacity: 0;
  width: 1px;
  height: 1px;
  display: block;
  position: fixed;
  right: 0px;
  top: 0px;
}

h2 {
  text-align: center;
}

h3 {
  margin-left: 0.5em;
}

table {
  border-spacing: 0em;
  border-collapse: collapse;
}

div, button {
  margin: 0px;
  padding: 0px;
}

.tpl {
  display: none;
}

.clear {
  clear: both;
}

.noadownload, .nostorage, .nofilereader, .nojson, .noatob {
  display: none;
}

#teams .teamno, #games .teamno, #history .teamno {
  width: 1.5em;
  height: 1.5em;
  font-size: 200%;
  text-align: center;
  vertical-align: middle;
  background-color: #d3d3d3;
  border-radius: 0.2em;
}

img.blank {
  height: 1px;
  width: 1px;
  opacity: 0;
  display: block;
}

div.box {
  position: relative;
  margin: 1em;
  padding: 1em;
  border-top-style: none;
  border: solid 1px;
  border-radius: 1em;
  overflow: hidden;
  text-align: center;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: -o-min-content;
  min-width: min-content;
  vertical-align: top;
}

div.box.collapsed {
  border-radius: 1em 1em 0em 0em;
}

div.box > h3:first-child {
  position: relative;
  display: block;
  padding: 0.3em 1em 0.2em 1em;
  margin: -1em -1em 1em -1em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: #d0d0d0;
  text-align: center;
  cursor: pointer;
}

.editable:hover:after {
  display: inline-block;
  content: ' ';
  width: 0.8em;
  height: 0.8em;
  background-image: url('../images/smallchange.png');
  background-size: 0.8em;
}


@media print {
  body {
    background-color: #ffffff;
    color: #000000;
  }
  
  button, input {
    display: none;
  }
  
  div.box {
    border:none;
    overflow:visible;
    padding: 0em;
    margin: 0.2em;
  }
  
  div.box.collapsed {
    display:none !important;
  }

  div.box > h3:first-child {
    border: none;
    background: none;
  }
}
