body {
	background-color: gray;
	padding: 0;
	border-width: 0;
	margin: 0;
	min-width: 30em;
}

a {
	color: inherit;
	text-decoration: underline;
}

#toasts {
	margin: 0.3em 0.3em 0em 0em;
	max-width: 10em;
	text-align: right;
	top: 0em;
	right: 0em;
	position: fixed;
}

#toasts > div {
	margin-bottom: 0.2em;
	display: inline-block;
	background-color: lightgrey;
	border-radius: 0.5em;
	padding: 0.5em;
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#toasts > div.toast {
	opacity: 1;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

#tabs > div:not(:target ) {
	display: none;
}

.tabs {
	height: 3em;
	position: absolute;
	margin: -6em 0.5em 0.5em -1em;
}

.tabs > a > img {
	float: left;
	height: 100%;
	width: 3em;
	background-color: lightgray;
	padding: 1em 1em 0em 1em;
	margin: 0.5em 0em 0em 0.5em;
	border-radius: 1em 1em 0em 0em;
}

.tabs .open {
	background-color: white;
}

#tabs > div {
	margin: 4.5em 0.5em 0.5em 0.5em;
	padding: 0.5em;
	padding-top: 1.5em;
	clear: both;
	border-radius: 0em 1em 1em 1em;
	background-color: white;
	text-align: center;
}

#tabs > div > .options {
	white-space: nowrap;
	float: right;
}

.clear {
	clear: both;
}

.tpl {
	display: none;
}

#teams .team, #games .team {
	display: block;
	margin: 0.5em;
	border-radius: 0.5em;
	background-color: lightgrey;
	padding: 0.3em;
	text-align: left;
	border-spacing: 0px;
}

#teams .team {
	float: left;
}

#teams .team .teamno, #games .team .teamno, #history .teamno {
	width: 1.5em;
	font-size: 200%;
	text-align: center;
}

#teams .team .name:hover {
	cursor: text;
	text-decoration: underline;
}

#teams .team .name, #games .team .name {
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

#teams.maxwidth .team .name, #games .team .name {
	display: inline-block;
	min-width: 10em;
	max-width: 10em;
	-webkit-transition: max-width 0.2s;
	-moz-transition: max-width 0.2s;
	-ms-transition: max-width 0.2s;
	-o-transition: max-width 0.2s;
	transition: max-width 0.2s;
	min-width: 10em;
}

#teams.maxwidth .team:hover .name {
	max-width: 50em;
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	-ms-transition: max-width 0.5s;
	-o-transition: max-width 0.5s;
	transition: max-width 0.5s;
}

#teams #newteam > .team {
	/*  border-spacing: 0.05em; */
	background-color: lightgreen;
}

#teams #newteam > .team button {
	font-size: 1em;
	width: 1.5em;
	height: 1.5em;
	border-radius: 0.3em;
}

#teams #newteam > .team .name {
	max-width: 10em;
	min-width: 0.0em;
}

#teams .name > input {
  border: none;
  margin: 0px;
  padding: 0px;
}

#games .preparing button, #games .finished button {
	font-size: 1em;
	padding: 0.5em;
	border-radius: 0.3em;
}

#games .running {
	display: none;
}

#games .game {
	display: table;
	margin: 0.5em;
	border-radius: 0.5em;
	background-color: grey;
	padding: 0.3em;
	text-align: left;
	border-spacing: 0em;
	float: left;
	white-space: nowrap;
	vertical-align: middle;
}

#games .game > .team {
	display: table-cell;
	margin: 0.0em;
}

#games .game > div {
	display: table-cell;
	vertical-align: middle;
	padding: 0px;
	margin: 0px;
}

#games .game > div > button {
	margin: 0px;
	height: 1em;
	border: none;
	background-color: lightgrey;
}

#games .game > .team.left .name {
	text-align: right;
}

#games .game > .team .points {
	text-align: center;
	position: relative;
	width: 90%;
	margin: auto;
}

#games .votes h3 {
	text-align: left;
}

#games .votes .team {
	margin: 0.0em;
}

#games .votes .vote {
	float: left;
	border-radius: 0.5em;
	background-color: grey;
	padding: 0.3em;
}

#games .finished {
	display: none;
}

#ranking {
	position: relative;
	margin-top: 0px;
	float: left;
}

#ranking table {
	border-spacing: 0.3em 0.0em;
}

#ranking table tr:nth-child(even) {
	background-color: lightgrey;
}

#ranking th {
	font-size: 1.2em;
	width: 3em;
	white-space: nowrap;
}

#ranking td {
	white-space: nowrap;
}

#ranking .name {
	text-align: left;
	min-width: 10em;
	min-width: 10em;
	max-width: 10em;
	overflow: hidden;
}

#history h3 {
	text-align: left;
	margin-top: 1em;
}

#history .game, #history .bye {
	margin: 0.5em;
	border-radius: 0.5em;
	background-color: grey;
	padding: 0.3em;
	text-align: center;
	white-space: nowrap;
	float: left;
}

#history .game > button {
	display: inline-block;
	margin: 0px;
	border: none;
	background-color: lightgrey;
	font-size: 0.8em;
	padding: 0.1em 0.2em;
	width: 4em;
}

#history .game .teamno, #history .bye .teamno {
	display: inline-block;
	margin: 0px;
	border-radius: 0.3em;
	background-color: lightgrey;
	padding: 0.3em;
}
