#history .round {
  display: block;
  position: relative;
  margin: 1em;
  padding: 1em;
  border-top-style: none;
  border-radius: 1em;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
}

#history.compact .round {
  display: inline-block;
}

#history .round table {
  display: inline-block;
  white-space: nowrap;
}

#history .round h3 {
  text-align: center;
  position: relative;
  display: block;
  padding: 0.3em 0em 0.2em 0em;
  margin: -1em -1em 1em -1em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: #d0d0d0;
}

#history .round .team {
  text-align: left;
  background-color: #d0d0d0;
  border-radius: 0.5em;
  padding: 0.5em;
}

#history .round .team .number {
  width: 1.5em;
  font-size: 200%;
  text-align: center;
}

#history .round .team span {
  display: inline-block;
  vertical-align: middle;
  padding: 0em;
}

#history.maxwidth .round .team .names  {
  width: 8em;
  max-width: 8em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#history.hidenames .round .team .names  {
  display: none;
}

/*
#history .game .correctbox {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

#history .game .correct {
  display: block;
  height: 2em;
  border: none;
  margin: 0.2em;
  box-shadow: 1px 1px 0px #808080;
  background-color: #d0d0d0;
  font-size: 0.8em;
  width: 3em;
  cursor: pointer;
}

#history .chpoints {
  display: table-cell;
  white-space: nowrap;
  vertical-align: middle;
  margin: 0.5em;
}

#history .chpoints .middle {
  display: block;
  text-align: center;
  vertical-align: middle;
}

#history .chpoints button {
  width: 6.5em;
  border: none;
  box-shadow: inset 0px 0px 1px #000000;
  border-radius: 5px;
  background-color: #d3d3d3;
  transition: color 0.2s;
  display: inline-block;
  height: 1.5em;
  margin: 0px;
  font-size: 0.8em;
  min-width: 1em;
  padding: 0em 0.2em;
  cursor: pointer;
}

#history .chpoints .points {
  width: 3em;
  text-align: center;
}
*/