@import url("fontsize.css");
@import url("general.css");
@import url("splash.css");

@import url("toasts.css");
@import url("tabs.css");
@import url("buttons.css");
@import url("boxview.css");
@import url("fontsizeview.css");
@import url("home.css");
@import url("teams.css");
@import url("newteamview.css");
@import url("teamsizeview.css");
@import url("new.css");
@import url("autocomplete.css");
@import url("games.css");
@import url("ranking.css");
@import url("history.css");
@import url("lanes.css");
@import url("settings.css");
@import url("about.css");
@import url("debug.css");

@import url("sprite.css");
