#new .playertable {
  display: inline-block;
  text-align: center;
}

#new > div.box:not(.tpl) {
  display: inline-block;
}

#new .playertable td,
#new .playertable th {
  padding-right: 1em;
}

#new .playertable td:first-child {
  border-left: solid 1px;
}

#new .playertable tr:last-child td {
  border-bottom: solid 1px;
}

#new .names {
  white-space: nowrap;
  text-align: left;
}

#new.hidenames .names {
  display: none;
}

#new.maxwidth .names {
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#new .playertable .system {
  position: relative;
  padding: 1em;
  border: solid 1px;
  border-radius: 0em 1em 1em 0em;
  overflow: hidden;
  text-align: center;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: -o-min-content;
  min-width: min-content;
  vertical-align: top;
}

#new .playertable .system > h3:first-child {
  position: relative;
  display: block;
  padding: 0.3em 1em 0.2em 1em;
  margin: -1em -1em 1em -1em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: #d0d0d0;
  text-align: center;
}

#new .playertable .system img {
  height: 2em;
  vertical-align: middle;
}

#new .playertable .system > .preparing,
#new .playertable .system > .running,
#new .playertable .system > .finished,
#new .playertable .system > .failure {
  display: none;
}

#new .playertable .system.preparing > .preparing,
#new .playertable .system.running > .running,
#new .playertable .system.finished > .finished,
#new .playertable .system.failure > .failure {
  display: block;
}

#new .swiss table {
  text-align: center;
  display: inline-block;
}

#new .swiss table td {
  vertical-align: top;
  border: none;
}

#new .swiss select {
  overflow-y: hidden;
  margin-bottom: 1em;
  font-size: 1em;
}

#new button {
  font-size: 1em;
  padding: 0.5em;
  border-radius: 0.3em;
  display: inline-block;
}

#new .votepermissions {
  display: inline-block;
  font-size: 1.5em;
}

#new .votepermissions .perm {
  cursor: pointer;
}

#new .votepermissions .perm {
  color: #000000;
}

#new .votepermissions .forbidden {
  color: #d3d3d3;
}

#new .votepermissions .perm:hover:not(:active) {
color: #969696;
}

#new .votepermissions .perm:hover:active {
  color: #d3d3d3;
}

#new .votepermissions .perm.forbidden:hover:active {
  color: #000000;
}
