#ranking {
  text-align: center;
}

#ranking table {
  display: inline-block;
  border-spacing: 0.3em 0.0em;
}

#ranking table tr:nth-child(even) {
  background-color: #d3d3d3;
}

#ranking th {
  font-size: 1.2em;
  white-space: nowrap;
}

#ranking td {
  width: 3em;
  white-space: nowrap;
}

#ranking .name {
  text-align: left;
  min-width: 10em;
  min-width: 10em;
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#ranking .corrections h2 {
  text-align: left;
  margin-left: 1em;
}

#ranking .corrections td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

