#settings p {
  text-align: justify;
}

#settings .block {
  position: relative;
  margin: 1em;
  padding: 1em;
  border-top-style: none;
  border-radius: 1em;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
}

#settings .block h3 {
  position: relative;
  display: block;
  padding: 0.3em 0em 0.2em 0em;
  margin: -1em -1em 1em -1em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: #d0d0d0;
}

#settings .csv button, #settings .save button, #settings .autocomplete button {
  background-color: #d0d0d0;
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  margin-bottom: 1em;
}

#settings img {
  width: 3.0em;
  height: 3.0em;
}

#settings button.selected {
  background-color: #ffffff;
}

#settings .load input.file {
  margin-bottom: 1em;
}

#settings .nojson {
  background-color: #ff0000;
  font-weight: bold;
  font-size: 120%;
}

#settings .local button {
  font-size: 1em;
  padding: 0.5em;
  border-radius: 0.3em;
}

#settings .devel a {
  display: inline-block;
  margin: 0em 1em;
}

#settings .storage .clear:hover, #settings .storage .clear:focus {
  background-color: #ee0000;
}

#settings .donate {
  display: inline-block;
}