#splash {
  width: 30em;
  min-height: 15em;
  margin: 2.5em auto 0em auto;
  padding: 2.5em 4em;
  border-radius: 1em 1em 1em 1em;
  background-color: #ffffff;
  text-align: center;
  white-space: nowrap;
}

#splash p {
  margin-bottom: 2em;
  display: none;
}

#splash p a[href] {
  font-weight: bold;
}

#splash.loading .loading,
#splash.starting .starting,
#splash.restoring .restoring,
#splash.update .update,
#splash.ready .ready,
#splash.error .error,
#splash.loaderror .loaderror {
	white-space: normal;
  display: block;
}

body:not(.splash) #splash {
  transition: margin-top 1s;
  margin-top: -20em;
}

#splash.hidden {
  display: none;
}
