[data-img="about"]::before {
    background-image: url("../images/sprite.png");
    background-position: -1px -1px;
    width: 128px;
    height: 128px;
}

[data-img="all"]::before {
    background-image: url("../images/sprite.png");
    background-position: -130px -1px;
    width: 128px;
    height: 128px;
}

[data-img="change"]::before {
    background-image: url("../images/sprite.png");
    background-position: -260px -1px;
    width: 128px;
    height: 128px;
}

[data-img="debug"]::before {
    background-image: url("../images/sprite.png");
    background-position: -390px -1px;
    width: 128px;
    height: 128px;
}

[data-img="deleteteam"]::before {
    background-image: url("../images/sprite.png");
    background-position: -520px -1px;
    width: 128px;
    height: 128px;
}

[data-img="file"]::before {
    background-image: url("../images/sprite.png");
    background-position: -650px -1px;
    width: 128px;
    height: 128px;
}

[data-img="games"]::before {
    background-image: url("../images/sprite.png");
    background-position: -780px -1px;
    width: 128px;
    height: 128px;
}

[data-img="history"]::before {
    background-image: url("../images/sprite.png");
    background-position: -1px -130px;
    width: 128px;
    height: 128px;
}

[data-img="home"]::before {
    background-image: url("../images/sprite.png");
    background-position: -129px -130px;
    width: 128px;
    height: 128px;
}

[data-img="HTML5_Logo_128"]::before {
    background-image: url("../images/sprite.png");
    background-position: -258px -130px;
    width: 128px;
    height: 128px;
}

[data-img="lanes"]::before {
    background-image: url("../images/sprite.png");
    background-position: -388px -130px;
    width: 128px;
    height: 128px;
}

[data-img="logos/chrome_128x128"]::before {
    background-image: url("../images/sprite.png");
    background-position: -518px -130px;
    width: 128px;
    height: 128px;
}

[data-img="logos/chrome-android_128x128"]::before {
    background-image: url("../images/sprite.png");
    background-position: -648px -130px;
    width: 128px;
    height: 128px;
}

[data-img="logos/firefox_128x128"]::before {
    background-image: url("../images/sprite.png");
    background-position: -778px -130px;
    width: 128px;
    height: 128px;
}

[data-img="logos/internet-explorer_128x128"]::before {
    background-image: url("../images/sprite.png");
    background-position: -1px -260px;
    width: 128px;
    height: 128px;
}

[data-img="logos/opera_128x128"]::before {
    background-image: url("../images/sprite.png");
    background-position: -129px -260px;
    width: 128px;
    height: 128px;
}

[data-img="new"]::before {
    background-image: url("../images/sprite.png");
    background-position: -258px -260px;
    width: 128px;
    height: 128px;
}

[data-img="ranking"]::before {
    background-image: url("../images/sprite.png");
    background-position: -388px -260px;
    width: 128px;
    height: 128px;
}

[data-img="reload"]::before {
    background-image: url("../images/sprite.png");
    background-position: -518px -260px;
    width: 128px;
    height: 128px;
}

[data-img="settings"]::before {
    background-image: url("../images/sprite.png");
    background-position: -648px -260px;
    width: 128px;
    height: 128px;
}

[data-img="smallchange"]::before {
    background-image: url("../images/sprite.png");
    background-position: -778px -260px;
    width: 128px;
    height: 128px;
}

[data-img="teams1"]::before {
    background-image: url("../images/sprite.png");
    background-position: -1px -390px;
    width: 128px;
    height: 128px;
}

[data-img="teams2"]::before {
    background-image: url("../images/sprite.png");
    background-position: -129px -390px;
    width: 128px;
    height: 128px;
}

[data-img="teams3"]::before {
    background-image: url("../images/sprite.png");
    background-position: -258px -390px;
    width: 128px;
    height: 128px;
}

[data-img="test"]::before {
    background-image: url("../images/sprite.png");
    background-position: -388px -390px;
    width: 128px;
    height: 128px;
}

[data-img="upload"]::before {
    background-image: url("../images/sprite.png");
    background-position: -518px -390px;
    width: 128px;
    height: 128px;
}

[data-img="print"]::before {
    background-image: url("../images/sprite.png");
    background-position: -648px -390px;
    width: 96px;
    height: 96px;
}

[data-img="save"]::before {
    background-image: url("../images/sprite.png");
    background-position: -746px -390px;
    width: 96px;
    height: 96px;
}

[data-img="ext/amazonwishlist"]::before {
    background-image: url("../images/sprite.png");
    background-position: -844px -390px;
    width: 119px;
    height: 52px;
}

[data-img="ext/btn_donateCC_LG"]::before {
    background-image: url("../images/sprite.png");
    background-position: -1px -520px;
    width: 126px;
    height: 47px;
}

[data-img="blank"]::before {
    background-image: url("../images/sprite.png");
    background-position: -127px -520px;
    width: 1px;
    height: 1px;
}

button[data-img]::before,
a[data-img]::before {
  zoom: 0.5;
}

[data-img]::before {
  display: inline-block;
  content: '';
}
