body.splash #tabs {
  display: none;
  opacity: 0;
  transition: opacity 0s;
}

#tabs {
  transition: opacity 1s ease-in;
  opacity: 1;
}

#tabs > div:not(:target) {
  display: none;
}

.tabs {
  position: relative;
  z-index: -1;
  margin: -112px 0.5em 64px -0.5em;
  white-space: nowrap;
  text-align: left;
}

@media print {
  .tabs {
    display: none;
  }

  #tabs > div {
    margin-top: 0em;
  }
}

.tabs > a {
  display: inline-block;
  background-color: #d0d0d0;
  padding: 16px;
  margin-right: 0.5em;
  border-radius: 1em 1em 0em 0em;
}

.tabs .open {
  background-color: #ffffff;
}

#tabs > div {
  margin: 96px 0.5em 0.5em 0.5em;
  padding: 0.5em;
  padding-top: 32px;
  clear: both;
  border-radius: 0em 1em 1em 1em;
  background-color: #ffffff;
  text-align: center;
  min-width: 40em;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: -o-min-content;
  min-width: min-content;
}

@media print {
  #tabs > div {
    margin: 0em;
    padding: 0em;
  }
}

#tabs > div .options {
  white-space: nowrap;
  float: right;
}

@media print {
  #tabs > div .options {
    display: none;
  }
}

#tabs button.print {
  position: absolute;
  float: left;
  margin-top: -24px;
  padding: 0.25em;
  border-radius: 10px;
  background-color: #d0d0d0;
  cursor: pointer;
}
