body.splash #tabs {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0s;
}

#tabs {
  -webkit-transition: opacity 1s ease-in;
  opacity: 1;
}

#tabs > div:not(:target) {
  display: none;
}

.tabs {
  height: 3em;
  position: relative;
  margin: -6em 0.5em 3.5em -1em;
  white-space: nowrap;
  text-align: left;
}

@media print {
  .tabs {
    display: none;
  }
}

.tabs > a {
  display: inline-block;
}

.tabs > a > img {
  height: 3em;
  width: 3em;
  background-color: #d0d0d0;
  padding: 1em 1em 0em 1em;
  margin: 0.5em 0em 0em 0.5em;
  border-radius: 1em 1em 0em 0em;
}

.tabs .open {
  background-color: #ffffff;
}

#tabs > div {
  margin: 4.5em 0.5em 0.5em 0.5em;
  padding: 0.5em;
  padding-top: 1.5em;
  clear: both;
  border-radius: 0em 1em 1em 1em;
  background-color: #ffffff;
  text-align: center;
  min-width: 40em;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: -o-min-content;
  min-width: min-content;
}

@media print {
  #tabs > div {
    margin: 0em;
    padding: 0em;
  }
}

#tabs > div .options {
  white-space: nowrap;
  float: right;
}

@media print {
  #tabs > div .options {
    display: none;
  }
}

