#toasts {
  position: fixed;
  top: 0em;
  right: 0em;
  max-width: 20em;
  text-align: right;
  margin: 0.3em 0.3em 0em 0em;
}

@media print {
  #toasts {
    display: none;
  }
}

#toasts > div {
  margin-bottom: 0.2em;
  display: inline-block;
  background-color: #d0d0d0;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 1px;
  padding: 0.5em;
}

#toasts > div:not(.toast) {
  max-height: 0em;
  padding-top: 0em;
  margin-top: 0em;
  border: 0em;
  overflow-y: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#toasts > div.toast {
  opacity: 1;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  max-height: 3em;
}

#toasts > div.hidden {
  display: none;
}
