#toasts {
  position: fixed;
  top: 0em;
  right: 0em;
  max-width: 10em;
  text-align: right;
  margin: 0.3em 0.3em 0em 0em;
}

#toasts > div {
  margin-bottom: 0.2em;
  display: inline-block;
  background-color: #d0d0d0;
  border-radius: 0.5em;
  padding: 0.5em;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#toasts > div.toast {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

