.timemachinecommitview {
  text-align: left;
}

.timemachinecommitview.activetree {
  font-weight: bold;
}

.timemachinecommitview.activetree .inactive {
  display: none;
}

.timemachinecommitview:not(.activetree) .active {
  display: none;
}

.timemachineview .rootcommits {
  margin-bottom: 1em;
}
