<div data-tab="about" accesskey="?">
  <h2>Über Tuvero %variant% %version%</h2>
  <div class="boxview">
    <h3>Autor &amp; Mitwirkende</h3>
    <p>
      © Erik E. Lorenz
      <br>
      Tel: 0175 8404964
      <br>
      Mail: <a href="mailto:erik.e.lorenz@gmail.com">erik.e.lorenz@gmail.com</a>
    </p>
    <p>
      Bei Fragen und Problemen stehe ich gern zur Verfügung.
    </p>
    <h4>Mitwirkende</h4>
    <ul>
      <li>
        Fabian Böttcher - Beratung (Boule, Design), Öffentlichkeitsarbeit
      </li>
      <li>
        Kai Angne - Beratung (TAC)
      </li>
    </ul>
  </div>
  <div class="boxview links">
    <h3>Links</h3>
    <p>
      <strike>HTML-Anleitung</strike>
      zum Einlesen und Nachschlagen. (In Arbeit)
      <br>
      <br>
      <a href="https://tuvero.de" target="_blank">Tuvero.de</a> zur kostenlosen Nutzung ohne Installation
      <br>
      <br>
      <a href="https://github.com/elor/tuvero/" target="_blank">Quellcode</a> auf Github.com
      <br>
      <br>
      <a href="https://tuveroblog.wordpress.com/" target="_blank">Update-Blog</a> für Infos über neue Versionen
      <br>
      <br>
      <a href="http://fehler.tuvero.de/" target="_blank">Fehler melden</a> auf <a href="https://github.com/elor/tuvero/issues" target="_blank">Github.com</a>
      <br>
      <br>
      <a href="https://tuvero.de/dev//" target="_blank">Entwicklerversion</a> zur Vorschau auf kommende Funktionen
      {{extralinks}}
    </p>
  </div>
  <div class="boxview">
    <h3>Browserunterstützung </h3>
    <a data-img="HTML5_Logo_128" class="logo float"></a>
    <p>
      Für diese Software wird auf <a href="http://de.wikipedia.org/wiki/HTML5">freie Webstandards</a> gesetzt.
      Leider werden diese <a href="http://fmbip.com/litmus/">nicht von allen Browsern vollständig</a> unterstützt.
      Deshalb kann es vorkommen, dass einzelne Funktionen mit einigen Browsern nicht zur Verfügung stehen.
      Um das nach Möglichkeit zu vermeiden, wird das Programm mit diesen Browsern getestet:
    </p>
    <p>
      Desktop:
      <a class="inline logo supported" title="Google Chrome" data-img="logos/chrome_128x128"></a>
      <a class="inline logo supported" title="Chromium" data-img="logos/chromium_128x128"></a>
      <a class="inline logo maywork" title="Opera" data-img="logos/opera_128x128"></a>
      <a class="inline logo maywork" title="Mozilla Firefox" data-img="logos/firefox_128x128"></a>
      <a class="inline logo unsupported" title="Internet Explorer" data-img="logos/internet-explorer_128x128"></a>
    </p>
    <p>
      Mobil:
      <a class="inline logo supported" title="Google Chrome for Android" data-img="logos/chrome-android_128x128"></a>
      <a class="inline logo supported" title="Opera" data-img="logos/opera_128x128"></a>
      <a class="inline logo supported" title="Mozilla Firefox" data-img="logos/firefox_128x128"></a>
      <a class="inline logo supported" title="Lightning" data-img="logos/lightning_128x128"></a>
      <a class="inline logo supported" title="Dolphin Browser" data-img="logos/dolphin_128x128"></a>
      <a class="inline logo unsupported" title="UC Browser" data-img="logos/uc_128x128"></a>
      <a class="inline logo unsupported" title="Puffin" data-img="logos/puffin_128x128"></a>
    </p>
    <p class="no-support">
      Dieser Browser unterstützt folgende Funktionen nicht:
      <ul>
        <li class="no-js">
          JavaScript
        </li>
        <li class="no-hashchange">
          HashChange
        </li>
        <li class="no-localstorage">
          LocalStorage
        </li>
        <li class="no-webworkers">
          WebWorkers
        </li>
        <li class="no-adownload">
          Download Attribute
        </li>
        <li class="no-filereader">
          FileReader
        </li>
        <li class="no-json">
          JSON
        </li>
      </ul>
    </p>
  </div>
  <div class="boxview">
    <h3>Nutzungsbedingungen</h3>
    <p>
      Die Nutzung dieses Programmes ist kostenlos und uneingeschränkt, wie sie bei jeder Software sein sollte.
      <a href="https://github.com/elor/tuvero/blob/master/LICENSE">Lizenz auf Github</a>
    </p>
    <p>
      Die laufenden Kosten bestehen hauptsächlich aus Ausgaben für
      Webserver, SSL-Zertifikate und Domain-Registrierungen. Wenn sie
      einen Beitrag zu diesen Kosten leisten oder die Entwickler moralisch
      unterstützen möchten, können sie das auf folgende Weise tun:
    </p>
    <div class="donatebuttons">
      <a class="large" data-img="ext/btn_donateCC_LG" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ZCU4ZVDREECYE" target="_blank"></a>
      <a class="large" data-img="ext/amazonwishlist" href="http://www.amazon.de/registry/wishlist/35WFB5LM44A7R" target="_blank"></a>
    </div>
  </div>
</div>
