<table class="correctiontable background" style="font-size: 100%">
  <tr>
    <th colspan="9">Korrekturen:</th>
  </tr>
  <tr class="correctionrow template">
    <td class="before teamno"></td>
    <td>vs.</td>
    <td class="before teamno"></td>
    <td class="before score">
      <div class="result">
        <span class="score"></span> : <span class="score"></span>
      </div>
    </td>
    <td>&#x21d2;</td>
    <td class="after teamno"></td>
    <td>vs.</td>
    <td class="after teamno"></td>
    <td class="after">
      <div class="result">
        <span class="score"></span> : <span class="score"></span>
      </div>
    </td>
  </tr>
</table>
