<div data-tab="debug" accesskey="d">
	<h2>Debugging Console</h2>

	<div class="boxview">
		<h3>GUI Shortcuts</h3>
		<div class="register">
			<button type="button" class="delete">
				Alles löschen
			</button>
			<input class="num" type="number" min="0" max="9999" value="33" placeholder="Spielerzahl" />
			<button type="submit" class="submit">
				Teams anmelden
			</button>
		</div>

		<div class="tournament">
			<button class="round">
				Runde ausspielen
			</button>
		</div>

		<div class="script">
			<button class="loadmods">
				RequireJS -> var mods (global)
			</button>
			<button id="onlinecheck">
				Onlinecheck failed
			</button>
		</div>
	</div>
	<div class="boxview allimages">
		<h3>Images at Pageload</h3>
		<!-- All images get inserted here -->
	</div>

	<div class="boxview sprite">
		<h3>Sprite</h3>
		<div class="large" data-img="sprite"></div>
	</div>

</div>
