<div data-tab="debug" accesskey="d">
  <h2>Debugging Console</h2>

  <div class="boxview inline">
    <h3>GUI Shortcuts</h3>
    <div class="register">
      <button class="big delete">
        Alles löschen
      </button>
      <input class="numteams" type="number" min="0" max="9999" value="33" placeholder="Spielerzahl" />
      <button class="big registerteams">
        Teams anmelden
      </button>
      <button class="big registerids">
        IDs anmelden
      </button>
    </div>

    <div class="tournament">
      <button class="big finishround">
        Runde ausspielen
      </button>
    </div>

    <div class="script">
      <button class="big loadmods">
        RequireJS -> var mods (global)
      </button>
    </div>
  </div>

  <div class="boxview inline">
    <h3>Browser Info</h3>
    <table class="browser background" style="font-size: 100%">
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>Browser:</td>
        <td class="name">%%%%</td>
      </tr>
      <tr>
        <td>Version:</td>
        <td class="version">%%%%</td>
      </tr>
      <tr>
        <td>Online:</td>
        <td class="online">%%%%</td>
      </tr>
      <tr>
        <td>Local:</td>
        <td class="local">%%%%</td>
      </tr>
      <tr>
        <td>Cached:</td>
        <td class="cached">%%%%</td>
      </tr>
      <tr>
        <td colspan="2">
        <button class="big update">
          update
        </button><td>
      </tr>
    </table>
  </div>

  <div class="boxview inline allimages">
    <h3>Images at Pageload</h3>
    <!-- All images get inserted here -->
  </div>

  <div class="boxview inline sprite">
    <h3>Sprite</h3>
    <div data-img="sprite"></div>
  </div>

</div>
