<div data-tab="games" accesskey="g">
  <button class="print" data-img="print"></button>
  <button class="save" data-img="save"></button>
  <div class="options">
    <span><input class="maxwidth" type="checkbox" checked="checked" />feste
      Breite</span> <span><input class="shownames" type="checkbox"
      checked="checked" />Spielernamen</span>
  </div>
  <h2>Laufende Spiele</h2>

  <div class="tournamentlist">
    <div class="boxview tournament template">
      <h3><span class="tournamentname">%% %%</span></h3>

      {{matchtable}}

      <div class="votelist bye">
        <h3>&#x2205; Freilos</h3>
      </div>

      <div class="votelist up">
        <h3>&#x25b2; Hochlos</h3>
      </div>

      <div class="votelist down">
        <h3>&#x25bc; Runterlos</h3>
      </div>

      <div class="teamview voteview template">
        <div class="teamno">##</div>
        <div class="names">
          <div class="name">%% %%</div>
          <div class="name">%% %%</div>
          <div class="name">%% %%</div>
        </div>
      </div>
    </div>
  </div>
</div>
