<div data-tab="history" accesskey="h">
  <button class="print" data-img="print"></button>
  <button class="save" data-img="save"></button>
  <div class="options">
    <span>
      <input class="maxwidth" type="checkbox" checked="checked" />feste Breite</span>
    <span>
      <input class="shownames" type="checkbox" checked="checked" />%teamtext%namen</span>
    <span class="hidden">
      <input class="hidefinished" type="checkbox" />Nur Laufende Runden</span>
    <span>
      <input class="showtable" type="checkbox" checked="checked" />Spielelisten</span>
      <br>
      <br>
      <span>Zum Korrigieren Ergebnis klicken</span>
  </div>

  <h2>Turnierverlauf</h2>

  {{tournamentlist}}

</div>
