<div data-tab="history" accesskey="h">
  <button class="print" data-img="print"></button>
  <button class="save" data-img="save"></button>
  <div class="options">
    <span><input class="maxwidth" type="checkbox" checked="checked" />feste
      Breite</span> <span><input class="shownames" type="checkbox"
      checked="checked" />Spielernamen</span> <span><input class="showtable"
      type="checkbox" checked="checked" />Tabelle</span>
  </div>
  <h2>Turnierverlauf</h2>

  <div class="tournamentlist">
    <div class="boxview tournament template">
      <h3 class="tournamentname"></h3>

      <div class="matchlist">
        <div class="matchview template">
          <div class="top">
            <div class="team left">
              <span class="teamno">##</span>
            </div>
            <form class="finish">
              <button type="submit" tabindex="-1">Beenden</button>
              <br> <input class="points" type="number" value="0" /> <input
                class="points" type="number" value="0" />
            </form>
            <div class="team left">
              <span class="teamno">##</span>
            </div>
          </div>
          <div class="bottom">
            <div class="team left">
              <div class="name">%% %%</div>
              <div class="name">%% %%</div>
              <div class="name">%% %%</div>
            </div>
            <div class="team right">
              <div class="name">%% %%</div>
              <div class="name">%% %%</div>
              <div class="name">%% %%</div>
            </div>
          </div>
        </div>
      </div>

      <table class="matchtable background">
        <tr>
          <th>No.</th>
          <th class="playercol">Spieler</th>
          <th class="playercol">Spieler</th>
          <th class="playercol">Spieler</th>
          <th>No.</th>
          <th class="playercol">Spieler</th>
          <th class="playercol">Spieler</th>
          <th class="playercol">Spieler</th>
          <th class="noprint">Ergebnis</th>
        </tr>
        <tr class="matchrow template">
          <td class="teamno"></td>
          <td class="name"></td>
          <td class="name"></td>
          <td class="name"></td>
          <td class="teamno"></td>
          <td class="name"></td>
          <td class="name"></td>
          <td class="name"></td>
          <td class="noprint">
            <form class="finish">
              <input class="points" type="number" /> : <input class="points"
                type="number" />
              <button type="submit" tapindex="-1">Beenden</button>
            </form>
          </td>
        </tr>
      </table>

      <div class="votelist bye">
        <h3>&#x2205; Freilos</h3>
      </div>

      <div class="votelist up">
        <h3>&#x25b2; Hochlos</h3>
      </div>

      <div class="votelist down">
        <h3>&#x25bc; Runterlos</h3>
      </div>

      <div class="teamview voteview template">
        <div class="teamno">##</div>
        <div class="names">
          <div class="name">%% %%</div>
          <div class="name">%% %%</div>
          <div class="name">%% %%</div>
        </div>
      </div>
    </div>
  </div>
</div>
