<div data-tab="home" accesskey="s">
  <div class="options">
    <a href="https://www.google.com/chrome/browser/desktop/index.html">
    Funktioniert am besten<br> mit
    <span class="tiny" data-img="logos/chrome_128x128">Chrome</span></a>
  </div>
  
  <h2>Tuvero %variant% %version%</h2>

  <div class="boxview info inline">
    <h3>Turnierstand</h3>
    <button class="withlabel load" data-img="load"></button>
    Turnier laden
    <br>
    <button class="withlabel save" data-img="save"></button>
    Turnier speichern
    <br>
    <button class="withlabel reset" data-img="clear"></button>
    Turnier löschen
  </div>

  <div class="boxview info inline firststeps leftalign">
    <h3>Erste Schritte</h3>
    Um ein Turnier durchzuführen, folge diesen Schritten:
    <ol class="leftalign">
      <li>
        Trage die Spieler im <a href="#teams" class="tiny" data-img="%teamsicon%"> Anmeldungen-Tab</a> ein
      </li>
      <li>
        Wähle und starte ein Turniersystem im <a href="#new" class="tiny" data-img="new"> Turniersysteme-Tab</a>
      </li>
      <li>
        Trage die Spielergebnisse im <a href="#games" class="tiny" data-img="history"> Turnierverlauf-Tab</a> ein
      </li>
      <li>
        Sieh die Platzierung im <a href="#ranking" class="tiny" data-img="ranking"> Platzierungen-Tab</a> ein
      </li>
      <li>
        Drucke Begegnungen und Ergebnisse über den <button class="print tiny" data-img="print"></button> Druck-Knopf</a>
      </li>
    </ol>
  </div>

  <div class="boxview info inline collapsed">
    <h3>Autor &amp; Mitwirkende</h3>
    <p>
      © Erik E. Lorenz
      <br>
      Tel: 0175 8404964
      <br>
      Mail: <a href="mailto:erik.e.lorenz@gmail.com">erik.e.lorenz@gmail.com</a>
    </p>
    <p>
      Bei Fragen und Problemen stehe ich gern zur Verfügung.
    </p>
    <h4>Mitwirkende</h4>
    <table class="borderless background middle">
      <tr>
        <td>Fabian Böttcher</td>
        <td>Öffentlichkeitsarbeit<br>Beratung (Boule, Design)</td>
      </tr>
      <tr>
        <td>Kai Angne</td>
        <td>Beratung (TAC)</td>
      </tr>
    </table>

    <p>
      Wir vom Tuvero-Team bedanken uns für das anhaltende Vertrauen in Tuvero.
      Für uns ist Tuvero mit jährlichen Kosten verbunden.
      Wenn euch Tuvero gefällt und die Turnierleitung vereinfacht, würden wir uns
      über eine kleine Beteiligung an diesen Kosten freuen.
      Vielen Dank.
      <a class="large" data-img="ext/btn_donateCC_LG" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ZCU4ZVDREECYE" target="_blank"></a>
    </p>
  </div>
</div>
