<div data-tab="home" accesskey="s">
  <h2>Willkommen zu Tuvero %variant% %version%</h2>
  <div class="boxview">
    <h3>Tabs</h3>
    <a href="#home" class="tiny" data-img="home"> Startseite</a>
    <a href="#teams" class="tiny" data-img="teams3"> Anmeldungen</a>
    <a href="#new" class="tiny" data-img="new"> Turniersystem und Unterturniere</a>
    <a href="#games" class="tiny" data-img="games"> Laufende Spiele</a>
    <a href="#ranking" class="tiny" data-img="ranking"> Platzierungen</a>
    <a href="#history" class="tiny" data-img="history"> Turnierverlauf</a>
    <a href="#lanes" class="tiny" data-img="lanes"> Bahnen</a>
    <a href="#settings" class="tiny" data-img="settings"> Optionen und Einstellungen</a>
    <a href="#about" class="tiny" data-img="about"> Über...</a>
  </div>
  <div class="boxview">
    <h3>Turnierstand</h3>
    <button class="load" data-img="load"></button>
    Turnier laden
    <br>
    <button class="save" data-img="save"></button>
    Turnier speichern
    <br>
    <button class="reset" data-img="clear"></button>
    Turnier löschen
  </div>
  <div class="boxview firststeps">
    <h3>Erste Schritte</h3>
    Um ein Turnier durchzuführen, folge diesen Schritten:
    <ol>
      <li>
        Trage die Spieler im <a href="#teams" class="tiny" data-img="teams3"> Anmeldungen-Tab</a> ein
      </li>
      <li>
        Wähle und starte ein Turniersystem im <a href="#new" class="tiny" data-img="new"> Turniersysteme-Tab</a>
      </li>
      <li>
        Trage die Spielergebnisse im <a href="#games" class="tiny" data-img="games"> Laufende Spiele-Tab</a> ein
      </li>
      <li>
        Sieh die Platzierung im <a href="#ranking" class="tiny" data-img="ranking"> Platzierungen-Tab</a> ein
      </li>
      <li>
        Exportiere die Turnierergebnisse über das <a href="#settings" class="tiny" data-img="settings"> Optionen-Tab</a>
      </li>
    </ol>
    Hilfe und Links:<a href="#about" class="tiny" data-img="about"> Über...-Tab</a>
  </div>
  <div class="boxview">
    <h3>Warum Chrome?</h3>
    <p>
      Zur Nutzung von Tuvero wird der <a href="https://www.google.com/chrome/browser/desktop/index.html" class="tiny" data-img="logos/chrome_128x128"> Chrome Browser</a> empfohlen.
    </p>
    <p>
      Der Chrome Browser bietet eine Druckvorschau, mit der sich
      Seitenränder etc. anpassen lassen. 
    </p>
    <p>
      Für eine unverbindliche Übersicht aller unterstützten Browser, siehe
      <a href="#about" class="tiny" data-img="about">Über...-Tab</a>
    </p>
  </div>
  <div class="boxview">
    <h3>Hinweis - Klick mich</h3>
    Diese Kästen können durch einen Klick auf ihre Titelleiste versteckt und wiederhergestellt werden.
    <br>
    Versteckte Kästen werden nicht gedruckt.
    <br>
    Die Schriftgröße beim Drucken kann im <a href="#settings" class="tiny" data-img="settings"> Optionen-Tab</a> eingestellt werden.
  </div>
</div>
