<div data-tab="home" accesskey="s">
  <div class="options">
    <a class="chromerecommendation"
      href="https://www.google.com/chrome/browser/desktop/index.html"
      target="_blank"> Funktioniert am besten <br> mit <span
      class="tiny" data-img="logos/chrome_128x128">Chrome</span></a>
  </div>

  <div style="width: 30em; margin: auto;">
    <a class="middle" href="https://tuvero.de/" data-img="tuvero"></a>
    <h2>Tuvero %variant% %version%</h2>
  </div>

  <div class="boxview info inline timemachineview">
    <h3>Turniere</h3>

    Turniere werden <b>automatisch gespeichert</b>.
    <br>
    Zum Umbenennen Turniernamen klicken.
    
    {{timemachineview}}

    <button class="withlabel load fileload" data-img="load"></button>
    Turnier aus Datei laden
    <br>
    <button class="withlabel reset" data-img="clear"></button>
    Alle Turniere löschen

    <h3>Online-Voranmeldungen</h3>
    
    {{loginview}}
    
    {{servertournaments}}
    
    <a href="https://turniere.tuvero.de">Neue Voranmeldung auf https://turniere.tuvero.de erstellen</a>
  </div>

  <div class="boxview info inline firststeps leftalign">
    <h3>Erste Schritte</h3>
    So führst du ein Turnier durch:
    <ol class="leftalign">
      <li>Trage links den Turniernamen ein und erstelle ein neues
        Turnier</li>
      <li>Trage die Teilnehmer im <a href="#teams" class="tiny"
        data-img="%teamsicon%"> Teilnehmer-Tab</a> ein
      </li>
      <li>Wähle und starte ein Turniersystem im <a href="#new"
        class="tiny" data-img="new"> Turniersysteme-Tab</a>
      </li>
      <li>Trage die Spielergebnisse im <a href="#games"
        class="tiny" data-img="history"> Turnierverlauf-Tab</a> ein
      </li>
      <li>Sieh die Platzierung im <a href="#ranking" class="tiny"
        data-img="ranking"> Platzierungen-Tab</a> ein
      </li>
      <li>Drucke Begegnungen und Ergebnisse über den
        <button class="print tiny" data-img="print"></button>
        Drucker-Knopf
      </li>
    </ol>
  </div>

  <div class="boxview info inline collapsed">
    <h3>Autor &amp; Mitwirkende</h3>
    <p>
      © Erik E. Lorenz
      <br>
      Tel: 0175 8404964
      <br>
      Mail: <a href="mailto:erik.e.lorenz@gmail.com">erik.e.lorenz@gmail.com</a>
    </p>
    <p>Bei Fragen und Problemen stehe ich gern zur Verfügung.</p>

    <h4>Fehler gefunden?</h4>
    <p>
      Bitte auf <a class="errorlink"
        href="http://fehler.tuvero.de/?variant=%variant%&version=%version%">http://fehler.tuvero.de/</a>
      melden oder eine Mail an mich schreiben.
      <br>
      Bitte heruntergeladenen Spielstand (
      <button class="tiny save" data-img="save"></button>
      ) mitschicken.
    </p>

    <h4>Mitwirkende</h4>
    <table class="borderless background middle">
      <tr>
        <td>Fabian Böttcher</td>
        <td>Öffentlichkeitsarbeit <br> Beratung (Boule,
          Design)
        </td>
      </tr>
      <tr>
        <td>Kai Angne</td>
        <td>Beratung (TAC), Tuvero-Logo</td>
      </tr>
    </table>

    <h4>Laufende Kosten</h4>
    <p>
      <a class="large right" data-img="ext/btn_donateCC_LG"
        href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ZCU4ZVDREECYE"
        target="_blank"></a> Wenn euch Tuvero gefällt und eure Turniere
      vereinfacht, würden wir uns über eine kleine Beteiligung an den
      laufenden Kosten freuen.
      <br>
      Vielen Dank für das anhaltende Vertrauen in Tuvero!
    </p>
  </div>
</div>
