<div class="komatchresult match template">
  <div class="koteams">
  {% include 'koteam.html' %}
  {% include 'koteam.html' %}
  </div>
  <div class="koscore">
    <div class="result">
      <div class="score">##</div>
      <div class="score">##</div>
    </div>

    <div class="noprint finish">
      <div>
        <input class="score mini" type="number" />
      </div>
      <div>
        <input class="score mini" type="number" />
      </div>
      <button class="accept hidden">
        Beenden
      </button>
    </div>

    <div class="noprint correct">
      <div>
        <input class="score mini" type="number" />
      </div>
      <div>
        <input class="score mini" type="number" />
      </div>
      <button class="cancel hidden">
        Abbrechen
      </button>
      <button class="accept hidden">
        Korrigieren
      </button>
    </div>
  </div>
</div>
