<div class="boxview ko template" data-system="ko">
  <h3><span class="tournamentname">##</span>
  <input type="text" />
  - KO-System </h3>

  <div class="initial">
    <div class="boxview tournamentoptions">
      <h3>Erweiterte Optionen</h3>
      {{kooptions}}
    </div>
    <button class="runtournament">
      KO-Turnier starten
    </button>
    <button class="closetournament">
      KO-Turnier abbrechen
    </button>
  </div>

  <div class="running">
    <p>
      KO-Turnier wird gespielt.
    </p>
    <p>
      Siehe <a href="#history" data-img="history">Turnierverlauf</a>
    </p>
  </div>

  <div class="finished">
    Alle Spiele beendet.
    <br>
    <br>
    <button class="closetournament">
      KO-Turnier beenden
    </button>
  </div>

  <div class="failure">
    Unerwarteter Fehler bei der Turnierberechnung.
  </div>
</div>
