<div class="boxview inline tuvero-login">
  <h3>Tuvero Turniere: Login</h3>
  <button class="login">
    login
  </button>
  <button class="logout">
    logout
  </button>
  <br>
  <span class="username">%% %%</span>
  <p class="popupnotice hidden">
    Popup-Blocker aktiv.
    <br>
    Melde dich auf
    <a href="https://turniere.tuvero.de/login" target="_blank">https://turniere.tuvero.de</a>
    an und probiere es nochmal.
  </p>
  <p class="errornotice hidden">
    Fehler beim Verbinden mit dem Server.
  </p>
  <p class="domainnotice hidden">
    Die Anmeldung steht aus Sicherheitsgründen nur auf
    <a href="https://tuvero.de">https://tuvero.de</a>
    zur Verfügung.
  </p>
  <p class="offlinenotice hidden">
    Keine Internetverbindung verfügbar.
  </p>
</div>
