<div class="loginview">
  <img class="avatar userinfo" alt="avatar" src="" /> <span
    class="username userinfo">%% %%</span>

  <button class="logout big">logout</button>

  <button class="login big">login</button>

  <p class="busy">
    <a class="tiny spin" data-img="reload"></a>
  </p>

  <p class="popupnotice">
    Popup-Blocker aktiv.
    <br>
    Melde dich auf <a href="https://turniere.tuvero.de/login"
      target="_blank">https://turniere.tuvero.de</a> an und probiere es
    nochmal.
  </p>
  <p class="domainnotice">
    Benutze Tuvero auf <a href="https://tuvero.de">https://tuvero.de</a>,
    um dich anmelden zu können.
  </p>
  <p class="offline hidden">Kein Internet verfügbar.</p>
  <p class="errornotice online">Es ist ein Fehler aufgetreten.
    Versuche es nochmal.</p>
</div>
