<div data-tab="new" accesskey="n">
  <button class="save left" data-img="save"></button>
  <div class="options">
    <span><input class="maxwidth" type="checkbox" checked="checked" />feste
      Breite</span> <span><input class="shownames" type="checkbox"
      checked="checked" />%teamtext%namen</span>
      <br>
      <br>
      <span>Zum Umbenennen Turniersystem klicken</span>
  </div>
  <h2>Turniersysteme</h2>

  <table class="systemtable background" style="font-size: 100%">
    <tr>
      <th colspan="2">Platz</th>
      <th>No.</th>
      <th class="playercol">%teamtext%</th>
      <th class="playercol">%teamtext%</th>
      <th class="playercol">%teamtext%</th>
      <th>Turniersystem</th>
    </tr>
    <tr class="team template">
      <td class="rank">##</td>
      <td class="tournamentrank">##</td>
      <td class="teamno">##</td>
      <td class="name">%% %%</td>
      <td class="name">%% %%</td>
      <td class="name">%% %%</td>
    </tr>
  </table>

  <br>

  {{newsystem}}

  {{swisssystem}}
  
  {{roundsystem}}
  
  {{kosystem}}

</div>
