<table class="progresstable hidden background">
  <tr class="headerrow">
    <th>No.</th>
    <th class="playercol">Spieler</th>
    <th class="playercol">Spieler</th>
    <th class="playercol">Spieler</th>
    <th class="roundcol template" colspan="2">Runde <span class="round">##</span></th>
    <th class="hidden separator"></th>
    <th class="rankcol template"></th>
  </tr>
  <tr class="progressrow template">
    <td class="teamno"></td>
    <td class="name"></td>
    <td class="name"></td>
    <td class="name"></td>
    <td class="template match teamno hidden">first teamid, i.e. this line.</td>
    <td class="template match teamno separator"></td>
    <td class="template match result">
    <div class="result">
      {{resultscore}}
    </div>
    {{finishmatchform}}
    {{correctionform}}
    </td>
    <td class="hidden separator"></td>
    <td class="rankingcomponent template">##</td>
  </tr>
</table>
