<table class="progresstable hidden background">
  <tr>
    <th>No.</th>
    <th>Platz</th>
    <th class="playercol">Spieler</th>
    <th class="playercol">Spieler</th>
    <th class="playercol">Spieler</th>
    <th class="template" colspan="2">Runde <span class="round">##</span></th>
  </tr>
  <tr class="progressrow template">
    <td class="teamno"></td>
    <td class="rank">##</td>
    <td class="name"></td>
    <td class="name"></td>
    <td class="name"></td>
    <td class="template teamno hidden"></td>
    <td class="template teamno"></td>
    <td class="template result">
    <div class="result">
      {{resultscore}}
    </div>
    {{finishmatchform}}
    {{correctionform}}
    </td>
  </tr>
</table>
