<div data-tab="ranking" accesskey="r">
  <button class="print left" data-img="print"></button>
  <button class="save left" data-img="save"></button>
  <div class="options">
    <span><input class="maxwidth" type="checkbox" checked="checked" />feste
      Breite</span> <span><input class="shownames" type="checkbox"
      checked="checked" />%teamtext%namen</span> <span><input class="abbreviate"
      type="checkbox" checked="checked"/>Abkürzungen</span>
  </div>
  <h2>Platzierungen</h2>

  <div class="tournamentlist">
    <div class="boxview tournament template">
      <h3><span class="tournamentname">%% %%</span></h3>

      {{rankingview}}

      <!-- autoformat placeholder :-( -->

      {{correctiontable}}

    </div>
  </div>
</div>
