<div data-tab="ranking" accesskey="r">
  <button class="print" data-img="print"></button>
  <button class="save" data-img="save"></button>
  <div class="options">
    <span><input class="maxwidth" type="checkbox" checked="checked" />feste
      Breite</span> <span><input class="shownames" type="checkbox"
      checked="checked" />Spielernamen</span> <span><input class="showtable"
      type="checkbox" checked="checked" />Tabelle</span>
  </div>
  <h2>Platzierungen</h2>

  <div class="tournamentlist">
    <div class="boxview tournament template">
      <h3 class="tournamentname"></h3>

      {{rankingview}}

      <!-- autoformat placeholder :-( -->

      {{correctiontable}}

    </div>
  </div>
</div>
