<div data-tab="settings" accesskey="o">
  <h2>Optionen und Einstellungen</h2>

  <div class="boxview inline">
    <h3>Schriftgröße</h3>
    <p>
      Legt auch die Schriftgröße beim Drucken fest.
    </p>
    <div class="fontsizeview">
      <button class="fontsizetiny">
        T
      </button>
      <button class="fontsizesmall">
        T
      </button>
      <button class="fontsizenormal">
        T
      </button>
      <button class="fontsizelarge">
        T
      </button>
      <button class="fontsizehuge">
        T
      </button>
    </div>
  </div>

  <input class="load filereader file" type="file" />

  <p class="nofilereader">
    Dieser Browser kann keine lokalen Dateien laden.
    Aktualisieren sie ihren Browser oder öffnen sie diese Seite in einem
    moderneren Browser.
    Manche Hersteller stellen keine Updates für
    ihre Browser unter einigen Betriebssystemen zur Verfügung
    (z.B. Apple mit Safari für Windows).
  </p>

  <div class="boxview inline csv">
    <h3>Tabellen-Export</h3>
    <p>
      Excel-kompatible .csv-Dateien exportieren
    </p>
    <p class="noadownload">
      Damit die Datei geöffnet werden kann,
      muss sie mit der .csv-Dateiendung gespeichert werden,
      beispielsweise als 'tuvero.csv'.
    </p>
    <button class="teams" data-img="%teamsicon%"></button>
    <button class="ranking" data-img="ranking"></button>
    <button class="history" data-img="history"></button>
    <button class="teams ranking history" data-img="all"></button>
  </div>

  <div class="boxview inline">
    <h3>Storage</h3>
    <p>
      Der Turnierstand wird <b>automatisch gespeichert</b> und wird nach
      dem Schließen und Öffnen des Browsers wieder hergestellt.
    </p>
    <div class="local">
      <button class="savestate">
        Manuell Speichern
      </button>
      <p>
        Zuletzt gespeichert:
        <br>
        <span class="savedate">%% %%</span>
      </p>
    </div>

  </div>

  <div class="boxview inline">
    <h3>Entwicklerwerkzeuge</h3>
    <a href="#debug" data-img="debug">
    <br>
    Dev Console</a>
  </div>

</div>
