<div id="splash" class="loading">
  <img src="images/favicon.png" title="Icon"/>
  <h1>Tuvero %variant%</h1>
  <h2>Version %version%</h2>
  <span>&copy; Erik E. Lorenz</span>
  <p class="loading">
    Lade JavaScript...
  </p>
  <p class="loading">
    Diese Meldung sollte nach wenigen Sekunden automatisch verschwinden.
    Bitte geh sicher, dass JavaScript unterstützt wird.
  </p>
  <noscript>
    <p class="loading">
      JavaScript wird von diesem Browser blockiert oder nicht unterstützt.
      Für die Ausführung von Tuvero wird JavaScript vorausgesetzt.
      Bitte aktiviere JavaScript oder nutze einen JavaScript-kompatiblen Browser.
    </p>
  </noscript>
  <p class="starting">
    Starte Programm...
  </p>
  <p class="restoring">
    Lade letzten Turnierstand...
  </p>
  <p class="update">
    Starte Darstellung
  </p>
  <p class="ready">
    Schönes Spiel!
  </p>
  <p class="oldinternetexplorer">
    Internet Explorer wird erst ab Version 9 unterstützt.
  </p>
  <p class="error">
    Gespeicherter Turnierstand kann nicht geladen werden.
    Öffne <a href="#reset">#reset</a>, um den gespeicherten Turnierstand zu löschen.
    Sollte der Fehler dann immer noch bestehen, bitte ich um eine Nachricht an <a href="mailto:erik.e.lorenz@gmail.com">erik.e.lorenz@gmail.com</a>.
    Für Informationen zu Ladefehlern siehe <a href="http://blog.tuvero.de">http://blog.tuvero.de</a>
  </p>
  <p class="loaderror">
    Konnte eine Skriptdatei nicht laden.
    Sollte der Fehler auch bei wiederholtem Neuladen der Seite bestehen bleiben, bitte ich um eine Nachricht an <a href="mailto:erik.e.lorenz@gmail.com">erik.e.lorenz@gmail.com</a>.
  </p>
</div>
