<div id="splash" class="loading">
  <img src="images/favicon.png" title="Icon"/>
  <h1>Tuvero %variant%</h1>
  <h2>Version %version%</h2>
  <span>&copy; Erik E. Lorenz</span>
  <p class="loading">
    Lade JavaScript...
  </p>
  <p class="loading">
    Diese Meldung sollte nach wenigen Sekunden automatisch verschwinden.
    Bitte geh sicher, dass JavaScript unterstützt wird.
  </p>
  <noscript>
    <p class="loading">
      JavaScript wird von diesem Browser blockiert oder nicht unterstützt.
      Für die Ausführung von Tuvero wird JavaScript vorausgesetzt.
      Bitte aktiviere JavaScript oder nutze einen JavaScript-kompatiblen Browser.
    </p>
  </noscript>
  <p class="starting">
    Starte Programm...
  </p>
  <p class="restoring">
    Lade letzten Turnierstand...
  </p>
  <p class="update">
    Starte Darstellung
  </p>
  <p class="ready">
    Schönes Spiel!
  </p>
  <p class="oldinternetexplorer">
    Internet Explorer wird erst ab Version 9 unterstützt.
  </p>
  <p class="error">
    Unerwarteter Fehler beim Laden.
    Typische Ursache sind fehlerhafte oder inkompatible Spielstände, die von alten Versionen erstellt wurden.
    Siehe dazu auch <a href="https://tuveroblog.wordpress.com/">https://boulesprog.wordpress.com/</a> für Informationen über die letzten Updates.
    Um die gespeicherten Spielstände zu löschen, kann man <a href="#reset">#reset</a> öffnen.
    Sollte der Fehler dann immer noch bestehen, bitte ich um eine Nachricht an <a href="mailto:erik.e.lorenz@gmail.com">erik.e.lorenz@gmail.com</a>.
  </p>
  <p class="loaderror">
    Konnte eine Skriptdatei nicht laden.
    Das kann passieren, wenn die Internetverbindung beim Laden der Seite verloren geht und sollte in einer Release-Version nicht vorkommen.
    Alternativ kann ein Serverausfall dieses Problem verursacht haben.
    Sollte der Fehler bestehen bleiben, bitte ich um eine Nachricht an <a href="mailto:erik.e.lorenz@gmail.com">erik.e.lorenz@gmail.com</a>.
  </p>
</div>
