<div class="boxview swiss template" data-system="swiss">
  <h3><span class="tournamentname">##</span>
  <input type="text" />
  - Schweizer
  System</h3>

  <div class="initial">
    <h3> Runde <span class="nextround">##</span> auslosen </h3>

    <h3>Wertungsreihenfolge</h3>

    {{rankingorderview}}

    <div class="boxview collapsed tournamentoptions">
      <h3>Erweiterte Optionen</h3>
      {{swissoptions}}
    </div>

    <button class="runtournament">
      Runde starten
    </button>
    <button class="closetournament">
      Schweizer Turnier abbrechen
    </button>
  </div>

  <div class="running">
    <p>
      Runde <span class="round">#</span> wurde ausgelost.
    </p>
    <p>
      Siehe <a href="#history" data-img="history">Turnierverlauf</a>
    </p>
  </div>

  <div class="idle">
    <h3> Runde <span class="nextround">##</span> auslosen </h3>

    <div class="boxview collapsed tournamentoptions">
      <h3>Erweiterte Optionen</h3>
      {{swissoptions}}
    </div>

    <button class="runtournament">
      Runde starten
    </button>
    <button class="closetournament">
      Schweizer Turnier beenden
    </button>
  </div>

  <div class="finished">
    Keine weiteren Spiele möglich
    <br>
    <br>
    <button class="closetournament">
      Schweizer Turnier beenden
    </button>
  </div>

  <div class="failure">
    Unerwarteter Fehler bei der Turnierberechnung.
  </div>
  <h3><span class="tournamentname">##</span> - Schweizer System </h3>
</div>

