<div class="boxview swiss system template" data-system="swiss">
  <h3><span class="tournamentname rename">##</span>
  - Schweizer
  System</h3>

  <div class="initial">
    <h3> Runde <span class="nextround">##</span> auslosen </h3>

    <h3>Wertungsreihenfolge</h3>

    {% include 'rankingorderview.html' %}

    <div class="boxview collapsed tournamentoptions">
      <h3>Erweiterte Optionen</h3>
      {% include 'swissoptions.html' %}
    </div>

    <div class="infotext swissmaxroundview">
      Voraussichtlich max. <span class="maxrounds">##</span> Runden (<span class="numteams">##</span> {{ teamstext }})
      <br>
      Gegebenenfalls Erweiterte Optionen ändern
    </div>

    <button class="runtournament">
      Runde starten
    </button>
    <button class="closetournament">
      Schweizer Turnier abbrechen
    </button>
  </div>

  <div class="running">
    <p>
      Runde <span class="round">#</span> wurde ausgelost.
    </p>
    <p>
      Siehe <a href="#history" data-img="history">Turnierverlauf</a>
    </p>
  </div>

  <div class="idle">
    <h3> Runde <span class="nextround">##</span> auslosen </h3>

    <div class="boxview collapsed tournamentoptions">
      <h3>Erweiterte Optionen</h3>
      {% include 'swissoptions.html' %}
    </div>

    <div class="infotext swissmaxroundview">
      Voraussichtlich max. <span class="maxrounds">##</span> Runden.
      <br>
      Gegebenenfalls Erweiterte Optionen ändern
    </div>

    <button class="runtournament">
      Runde starten
    </button>
    <button class="closetournament">
      Schweizer Turnier beenden
    </button>
  </div>

  <div class="finished">
    Keine weiteren Spiele möglich
    <br>
    <br>
    <button class="closetournament">
      Schweizer Turnier beenden
    </button>
  </div>

  <div class="failure">
    Unerwarteter Fehler bei der Turnierberechnung.
  </div>
  <h3><span class="tournamentname">##</span> - Schweizer System </h3>
</div>

