<table class="swissvotes borderless">
  <tr>
    <th colspan="4"> Losbedingungen </th>
  </tr>
  <tr>
    <td>▲⇒</td>
    <td class="prop upafterup">▲</td>
    <td class="prop downafterup">▼</td>
    <td class="prop byeafterup">∅</td>
  </tr>
  <tr>
    <td>▼⇒</td>
    <td class="prop upafterdown">▲</td>
    <td class="prop downafterdown">▼</td>
    <td class="prop byeafterdown">∅</td>
  </tr>
  <tr>
    <td>∅⇒</td>
    <td class="prop upafterbye">▲</td>
    <td class="prop downupafterbye">▼</td>
    <td class="prop byeupafterbye">∅</td>
  </tr>
</table>

<div class="boxview collapsed">
  <h3>Legende</h3>
  <p>
    ∅ - Freilos
    <br>
    ▲ - Hochlos
    <br>
    ▼ - Runterlos
  </p>
  <p>
    Beispiel: ∅ ⇒ ▲
    <br>
    Ein Spieler mit einem Freilos darf
    <br>
    ein Hochlos erhalten, aber kein
    <br>
    weiteres Freilos oder Runterlos.
  </p>
  <p>
    Bedingungen können per Klick geändert werden.
  </p>
</div>
