<div class="option">
  Modus <select class="mode">
    <option value="all">Alle gegeneinander</option>
    <option value="halves">Hälften: oben gegen unten</option>
    <option value="ranks">Gleiche Plätze gegeneinander</option>
    <option value="wins">Siegesgruppen</option>
    <option value="individual">Reihenfolge</option>
  </select>
</div>
<div class="option">
  <span class="noshuffle"><input class="noshuffle"
    type="checkbox">Begegnungen setzen</span>
</div>
<div class="option">Hinweis: Losbedingungen sind noch nicht verfügbar.</div>
