<div class="option">
  Modus
  <select class="mode">
    <option value="all">Jeder gegen Jeden</option>
    <option value="halves">Obere gegen untere Hälfte</option>
    <option value="ranks">Gleiche Plätze gegeneinander</option>
    <option value="wins">Siegesgruppen</option>
    <option value="individual">Reihenfolge</option>
  </select>
</div>
<div class="option">
  <span class="noshuffle">
    <input class="noshuffle" type="checkbox">
    Begegnungen setzen </span>
</div>
<div class="option swissvotes">
  {% include 'swissvotes.html' %}
</div>
