<div data-tab="teams" data-spriteignore accesskey="t">
  <button class="print left" data-img="print"></button>
  <button class="save left" data-img="save"></button>
  <div class="options">
    <span>
      <input class="maxwidth" type="checkbox" checked="checked" />
      feste Breite</span>
    <span>
      <input class="showtable" type="checkbox" checked="checked" />
      Tabelle</span>
    <br>
    <br>
    Zum Umbenennen Namen klicken
  </div>
  <h2><span class="numteams">##</span> Anmeldungen</h2>

  {% include 'teamsizeview.html' %}

  <br>

  <div class="teamlist">
    <div class="team template">
      <div class="teamno">
        ##
      </div>
      <div class="names">
        <div class="name rename">
          %% %%
        </div>
        <div class="name rename">
          %% %%
        </div>
        <div class="name rename">
          %% %%
        </div>
      </div>
    </div>
  </div>

  <table class="teamtable background" style="font-size: 100%">
    <tr>
      <th class="teamnocol">No.</th>
      <th class="playercol">{{ teamtext }}</th>
      <th class="playercol">{{ teamtext }}</th>
      <th class="playercol">{{ teamtext }}</th>
    </tr>
    <tr class="team template">
      <td class="teamno">##</td>
      <td class="name rename">%% %%</td>
      <td class="name rename">%% %%</td>
      <td class="name rename">%% %%</td>
    </tr>
  </table>

  <form class="newteamview">
    <div class="teamno">
      <button>
        +
      </button>
    </div>
    <div class="names">
      <div>
        <input class="playername mini" type="text" placeholder="{{ teamtext }} 1" />
      </div>
      <div>
        <input class="playername mini" type="text" placeholder="{{ teamtext }} 2" />
      </div>
      <div>
        <input class="playername mini" type="text" placeholder="{{ teamtext }} 3" />
      </div>
    </div>
  </form>

  <button class="tiny withlabel fileloadteams fileload" data-img="load">
    Anmeldungen laden
  </button>
  <a href="#teams" class="downloadcsvexample">(Beispieldatei)</a>

  <button class="delete tiny withlabel" data-img="clear" tabindex="-1">
    Anmeldung löschen
  </button>

  <button class="deleteall tiny withlabel" data-img="clear" tabindex="-1">
    Alle löschen
  </button>

  <div class="deletionprompt">
    {{ teamdeleteprompt }}
  </div>

</div>
