<div data-tab="teams" accesskey="t">
  <button class="print" data-img="print"></button>
  <button class="save" data-img="save"></button>
  <div class="options">
    <span><input class="maxwidth" type="checkbox" checked="checked" />feste Breite</span>
    <span><input class="showtable" type="checkbox" checked="checked" />Tabelle</span>
  </div>
  <h2><span class="numteams">##</span> Anmeldungen</h2>

  <div class="teamsizeview">
    <button data-img="teams1"></button>
    <button data-img="teams2"></button>
    <button data-img="teams3"></button>
  </div>

  <br>

  <div class="teamlist">
    <div class="team template">
      <div class="teamno">
        ##
      </div>
      <div class="names">
        <div class="name editable">
          %% %%
        </div>
        <div class="name editable">
          %% %%
        </div>
        <div class="name editable">
          %% %%
        </div>
      </div>
    </div>
  </div>

  <table class="teamtable background">
    <tr>
      <th class="teamnocol">No.</th>
      <th class="playercol">Spieler 1</th>
      <th class="playercol">Spieler 2</th>
      <th class="playercol">Spieler 3</th>
    </tr>
    <tr class="team template">
      <td class="teamno">##</td>
      <td class="name editable">%% %%</td>
      <td class="name editable">%% %%</td>
      <td class="name editable">%% %%</td>
    </tr>
  </table>

  <form class="newteamview">
    <div class="teamno">
      <button>
        +
      </button>
    </div>
    <div class="names">
      <div>
        <input class="playername" type="text" placeholder="Spieler 1" />
      </div>
      <div>
        <input class="playername" type="text" placeholder="Spieler 2" />
      </div>
      <div>
        <input class="playername" type="text" placeholder="Spieler 3" />
      </div>
    </div>
  </form>

  <div class="load filereader">
    <p>
      Spieler aus Datei laden
      <br>
      <input type="file" />
    </p>
  </div>

  <button class="delete" tabindex="-1">
    Anmeldung Löschen
  </button>

</div>
