<div class="timemachinecommitview template boxview">
  <h3>
  <input class="rename" value="" />
  <span class="name startrename">## ##</span></h3>
  Beginn: <span class="startdate">## ##</span>
  <br>
  Änderung: <span class="savedate">## ##</span>
  <br>
  Größe: <span class="size">## ##</span>
  <br>
  <button class="loaddescendant tiny" data-img="reload">
    Laden
  </button>
  <button class="download tiny" data-img="save">
    Herunterladen
  </button>
  <button class="removecommit tiny" data-img="clear">
    Löschen
  </button>
  <!-- <button class="cleanuptree">
  cleanup
  </button> -->
</div>
