<div class="timemachinecommitview template boxview">
  <h3 class="name">## ##</h3>
  Beginn: <span class="startdate">## ##</span>
  <br>
  Änderung: <span class="savedate">## ##</span>
  <br>
  Größe: <span class="size">## ##</span>
  <br>
  <button class="loaddescendant inline tiny" data-img="reload">
    Laden
  </button>
  <button class="download inline tiny" data-img="save">
    Herunterladen
  </button>
  <button class="removecommit inline tiny" data-img="clear">
    Löschen
  </button>
  <!-- <button class="cleanuptree">
  cleanup
  </button> -->
</div>
