.kotree {
  display: inline-block;
  padding: 0em 0.5em;
}

.kotree .forest {
  position: relative;
}

.kotree .komatchresult {
  position: absolute;
  display: block;
  border-radius: 0.5em;
  border: solid 1px black;
  background: #e8e8e8;
  margin: 0.5em;
  padding: 0.2em;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}

.kotree .komatchresult .koteams,
.kotree .komatchresult .koscore {
  display: inline-block;
  vertical-align: middle;
}

.kotree .komatchresult .team {
  display: block;
  width: 12em;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 1em;
}

.hidenames .kotree .komatchresult .team {
  width: 2em;
}

.kotree .komatchresult .teamno {
  font-weight: bold;
  min-width: 1.5em;
  display: inline-block;
  text-align: center;
}

.kotree .komatchresult .teamno:hover {
  text-decoration: underline;
  cursor: pointer;
}

.kotree .komatchresult .name {
  width: 3em;
}

.kotree .komatchresult .koscore {
  min-width: 3em;
  text-align: center;
}

.kotree .koscore input {
  display: block;
  width: 3em;
  max-width: 3em;
  text-align: center;
}

.kotree .correct {
  display: none;
}

.kotree .correcting .correct {
  display: block;
}

.kotree .koline {
  position: absolute;
}
