#tabs > [data-tab="about"] {
  text-align: center;
}

#tabs > [data-tab="about"] .boxview {
  width: 40em;
  margin: 1em auto;
}

#tabs > [data-tab="about"] p {
  text-align: justify;
}

#tabs > [data-tab="about"] .float {
  float: right;
}

#tabs > [data-tab="about"] h4 {
  text-align: left;
}

#tabs > [data-tab="about"] ul {
  list-style-type: none;
  text-align: left;
}


#tabs > [data-tab="about"] .links a[href] {
  display: inline-block;
  /* background-color: #d3d3d3; */
  padding: 0.2em;
  border-radius: 0.2em;
  font-weight: bold;
}

#tabs > [data-tab="about"] .links a.manual {
  background-color: #90EE90;
}

#tabs > [data-tab="about"] .boxview [data-img] {
  border-radius: 2em;
  vertical-align: initial;
}

#tabs > [data-tab="about"] [data-img].supported {
  background-color: #90ee90;
}

#tabs > [data-tab="about"] [data-img].maywork {
  background-color: #eed048;
}

#tabs > [data-tab="about"] [data-img].unsupported {
  background-color: #ff0000;
  opacity: 0.7;
}

.js #tabs > [data-tab="about"] .no-js, .postmessage #tabs > [data-tab="about"] .no-postmessage, .hashchange #tabs > [data-tab="about"] .no-hashchange, .localstorage #tabs > [data-tab="about"] .no-localstorage, .webworkers #tabs > [data-tab="about"] .no-webworkers, .adownload #tabs > [data-tab="about"] .no-adownload, .filereader #tabs > [data-tab="about"] .no-filereader, .json #tabs > [data-tab="about"] .no-json {
  display: none;
}

.js.postmessage.hashchange.localstorage.webworkers.adownload.filereader.json #tabs > [data-tab="about"] .no-support {
  display: none;
}

.no-js #tabs > [data-tab="about"] .support, .no-postmessage #tabs > [data-tab="about"] .support, .no-hashchange #tabs > [data-tab="about"] .support, .no-localstorage #tabs > [data-tab="about"] .support, .no-webworkers #tabs > [data-tab="about"] .support, .no-adownload #tabs > [data-tab="about"] .support, .no-filereader #tabs > [data-tab="about"] .support, .no-json #tabs > [data-tab="about"] .support {
  display: none;
}

#tabs > [data-tab="about"] .donatebuttons {
  text-align: center;
}

#tabs > [data-tab="about"] .donate {
  display: inline-block;
}
