button {
  border: solid 1px #d0d0d0;
  background: linear-gradient(#f0f0f0, #e8e8e8);
  box-shadow: 0px 1px 0px 0px rgba(64, 64, 64, 0.25);
  border-radius: 10px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}

button.mini {
  padding: 0.2em 0.3em;
}

button[data-img] {
  padding: 5px;
}

button.left {
  margin-right: 2px;
}

button.right {
  margin-left: 2px;
}

button.big {
  background: linear-gradient(#f0f0f0, #e8e8e8);
  border-radius: 0.5em;
  padding: 0.5em;
  margin-bottom: 1em;
  cursor: pointer;
}

button.withlabel {
  vertical-align: middle;
  margin: 0.5em;
}

button:hover {
  background: #f0f0f0;
}

button:active {
  background: linear-gradient(#e8e8e8, #f0f0f0);
  box-shadow: none;
}

button.selected {
  background: #bbbbbb;
  box-shadow: none;
}

button[disabled] {
  color: #bbbbbb;
}
