#tabs > [data-tab="debug"] {
  display: none;
}

#tabs > [data-tab="debug"]:target {
  display: block;
}

#tabs > [data-tab="debug"] button {
  background-color: #d0d0d0;
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  margin-bottom: 1em;
}

#tabs > [data-tab="debug"] button.selected {
  background-color: #ffffff;
}

#tabs > [data-tab="debug"] .allimages [data-img] {
  display: inline-block;
  margin: 0.2em;
  background-color: #d3d3d3;
}

#tabs > [data-tab="debug"] .sprite img {
  background-color: #d3d3d3;
}
