#tabs > [data-tab="games"].maxwidth .bottom .team {
  width: 8em;
  max-width: 8em;
}

#tabs > [data-tab="games"].maxwidth .name {
  width: 8em;
  max-width: 8em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#tabs > [data-tab="games"].hidenames .name, #tabs > [data-tab="games"].hidenames .playercol {
  display: none;
}

#tabs > [data-tab="games"] div.teamno {
  display: table-cell;
  background: none;
}

#tabs > [data-tab="games"] .voteview {
  display: inline-table;
  margin: 0.5em;
  border-radius: 0.5em;
  border: solid 1px #000000;
  background-color: #d3d3d3;
  vertical-align: top;
  text-align: left;
  white-space: nowrap;
}

#tabs > [data-tab="games"] div.voteview.names {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}

#tabs > [data-tab="games"] div.voteview.name {
  margin: 0.2em;
}

#tabs>[data-tab="games"]:not (.hidenames )
.votes .vote .names {
  display: table-cell;
}

@media print {
  #tabs>[data-tab="games"] .matchtable .resultcol {
    display: none !important;
  }
}