#tabs > [data-tab="games"] .game, #tabs > [data-tab="games"] .votes .vote {
  display: inline-table;
  margin: 0.5em;
  border-radius: 0.5em;
  border: solid 1px #000000;
  background-color: #d3d3d3;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
}

#tabs > [data-tab="games"] .game > div {
  display: table;
  margin: 0.0em;
  padding: 0.0em;
  width: 100%;
}

#tabs > [data-tab="games"] .game .finish {
  display: table-cell;
  text-align: center;
}

#tabs > [data-tab="games"] .game .teamno {
  display: table-cell;
  background: none;
}

#tabs > [data-tab="games"] .game input {
  width: 3em;
  text-align: center;
}

#tabs > [data-tab="games"] .game button {
  width: 6.5em;
  border: none;
  box-shadow: inset 0px 0px 1px #000000;
  border-radius: 5px;
  background-color: #d3d3d3;
  transition: color 0.2s;
}

/* this is awesome! */
#tabs > [data-tab="games"] .game button:not([disabled]):hover {
  cursor: pointer;
}

#tabs > [data-tab="games"] .names {
  display: table-cell;
  padding: 0em 0.3em;
  font-weight: bold;
  vertical-align: middle;
}

#tabs > [data-tab="games"].maxwidth .names {
  width: 8em;
  max-width: 8em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#tabs > [data-tab="games"].hidenames .names {
  display: none;
}

#tabs > [data-tab="games"] .names.left {
  text-align: left;
}

#tabs > [data-tab="games"] .names.right {
  text-align: right;
}

#tabs > [data-tab="games"] .votes > div {
  overflow: auto;
}

#tabs > [data-tab="games"] .votes .team {
  margin: 0.0em;
}

#tabs > [data-tab="games"] .votes .vote {
  display: inline-table;
  border-radius: 0.5em;
  border: solid 1px #000000;
  background-color: #d3d3d3;
  margin: 0.5em;
  white-space: nowrap;
}

#tabs > [data-tab="games"] .votes .vote .teamno {
  display: table-cell;
}

#tabs > [data-tab="games"]:not(.hidenames) .votes .vote .names {
  display: table-cell;
}
