#history .boxview {
  display: inline-block;
}

#history.progress .boxview {
  display: block;
}

#history .gamestable .team {
  text-align: left;
}

#history .gamestable .team .number {
  min-width: 1.5em;
  font-size: 200%;
  text-align: center;
}

#history .gamestable .team span {
  display: inline-block;
  vertical-align: middle;
  padding: 0em;
}

#history.maxwidth .names {
  width: 8em;
  max-width: 8em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#history .gamestable td {
  vertical-align: middle;
}

#history.hidenames .names {
  display: none !important;
}

#history .names.hidden {
  display: none !important;
}

#history .progresstable td.vsep {
  border-left: solid 1px;
}

#history .progresstable .names {
  text-align: left;
}

#history .progresstable .game, #history .progresstable .result {
  padding: 0em 0.2em;
}

#history .progresstable tr:nth-child(even) {
  background-color: #d3d3d3;
}

#history .kotree {
  position: relative;
}

#history .kotree .game {
  display: block;
  position: absolute;
  background-color: #d0d0d0;
  border-radius: 0.5em;
  padding: 0.2em;
  border: solid 1px;
}

#history .kotree .game .names {
  display: inline-block;
  min-height: 1em;
}

#history .kotree .game .number {
  min-width: 1.5em;
  font-weight: bold;
}

#history .kotree .game .points {
  min-width: 3em;
}

@media print {
  #history .progresstable tr:nth-child(even) {
    background: none;
  }
}