#home {
  text-align: center;
}

#home > .boxview {
  vertical-align: middle;
  max-width: 50em;
  display: inline-block;
}

#home > .boxview > p {
  text-align: justify;
}

#home > .boxview > button,
#home > .boxview > a[data-img] {
  margin: 0.5em;
  display: inline-block;
}

#home > .boxview > button {
  vertical-align: middle;
}

#home > .firststeps {
  text-align: left;
}

#home .logo {
  float: right;
}
