#tabs > [data-tab="home"] {
  text-align: center;
}

#tabs > [data-tab="home"] > .boxview {
  vertical-align: middle;
  max-width: 50em;
}

#tabs > [data-tab="home"] > .boxview > p {
  text-align: justify;
}

#tabs > [data-tab="home"] > .boxview > button,
#tabs > [data-tab="home"] > .boxview > a[data-img] {
  margin: 0.5em;
  display: inline-block;
}

#tabs > [data-tab="home"] > .boxview > button {
  vertical-align: middle;
}

#tabs > [data-tab="home"] > .firststeps {
  text-align: left;
}

#tabs > [data-tab="home"] .logo {
  float: right;
}
