input {
  font-size: 90%;
  font-weight: bold;
  border: solid 1px #e5e5e5;
  padding: 0.3em;
  box-shadow: inset 0px 1px 0px 0px rgba(64, 64, 64, 0.25);
  transition: background-color 0.25s, box-shadow 0.1s;
  text-align: inherit;
}

input:not([type="checkbox"]):not([type="radio"]) {
  outline: none;
}

input.mini {
  font-weight: normal;
  padding: 0.2em 0em;
}

input.rename {
  font-size: 100%;
  padding: 2px 0em;
  margin: -3px 0em;
}

input:focus {
  box-shadow: inset 0px 1px 4px 0px rgba(0, 128, 255, 0.5);
}

input[type="number"] {
  width: 4em;
}

input[type="checkbox"], input[type="radio"] {
  background: #ffffff;
  -webkit-appearance: initial;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
  background: #bbbbbb;
}
