.matchtable {
  display: inline-block;
  padding: 0em 0.5em;
}

.matchtable > table {
  margin: auto;
}

/* TODO move to its own css file. This affects other tables, too */
table .teamno {
  font-weight: bold;
}

@media print {
  .dontprintresultcol .resultcol {
    display: none !important;
  }
}
