.match input.score {
  width: 3em;
  max-width: 3em;
  text-align: center;
}

.match .correct {
  display: none;
}

.match.correcting .correct {
  display: block;
}

.match.correcting .result {
  display: none;
}

@media print {
  .result {
    display: block !important;
  }
}
