.matchtable {
  display: inline-block;
  padding: 0em 0.5em;
}

.matchtable > table {
  margin: auto;
}

.matchtable .matchrow .teamno {
  font-weight: bold;
}

.matchtable .matchrow .name {
  text-align: left;
}

.matchtable .finish input, .matchtable .correct input {
  width: 3em;
  max-width: 3em;
  text-align: center;
}

.matchtable .correct {
  display: none;
}

.matchtable .correcting .correct {
  display: block;
}
