#tabs > [data-tab="new"] .systemtable {
  display: inline-block;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0em;
}

#tabs > [data-tab="new"] > div.boxview:not(.tpl) {
  display: inline-block;
}

#tabs > [data-tab="new"] .systemtable td,
#tabs > [data-tab="new"] .systemtable th {
  padding-right: 1em;
}

#tabs > [data-tab="new"] .systemtable th {
  border-bottom: none;
}

#tabs > [data-tab="new"] .systemtable td:first-child {
  border-left: solid 1px;
}

#tabs > [data-tab="new"] .systemtable td:last-child {
  border-right: none;
}

#tabs > [data-tab="new"] .systemtable tr:nth-child(2) td {
  border-top: solid 1px;
}

#tabs > [data-tab="new"] .systemtable tr:last-child td {
  border-bottom: solid 1px;
}

#tabs > [data-tab="new"] .systemtable tr.firstrow td {
  border-top: solid 1px black;
}

#tabs > [data-tab="new"] .systemtable tr.lastrow td {
  height: 100%;
  vertical-align: top;
}

#tabs > [data-tab="new"] .names {
  white-space: nowrap;
  text-align: left;
  border-right: none !important;
}

#tabs > [data-tab="new"].hidenames .names {
  display: none;
}

#tabs > [data-tab="new"].maxwidth .names {
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#tabs > [data-tab="new"] .systemtable td.system {
  position: relative;
  padding: 1em 1em 3em 1em;
  border: solid 1px;
  border-radius: 0em 1em 1em 0em;
  overflow: hidden;
  text-align: center;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: -o-min-content;
  min-width: min-content;
  vertical-align: top;
  background-color: #ffffff;
}

#tabs > [data-tab="new"] .systemtable .system > h3:first-child {
  position: relative;
  display: block;
  padding: 0.3em 1em 0.2em 1em;
  margin: -1em -1em 1em -1em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: #d0d0d0;
  text-align: center;
}

#tabs > [data-tab="new"] .systemtable .system > h3:last-child {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0em;
  padding: 0.2em 0.2em 0.3em 0.2em;
  margin: 0em -1em;
  border-top-style: solid;
  border-top-width: 1px;
  background-color: #d0d0d0;
  text-align: center;
}

#tabs > [data-tab="new"] .systemtable .system [data-img] {
  vertical-align: middle;
}

#tabs > [data-tab="new"] .systemtable .system > .preparing,
#tabs > [data-tab="new"] .systemtable .system > .running,
#tabs > [data-tab="new"] .systemtable .system > .finished,
#tabs > [data-tab="new"] .systemtable .system > .failure {
  display: none;
}

#tabs > [data-tab="new"] .systemtable .system.preparing > .preparing,
#tabs > [data-tab="new"] .systemtable .system.running > .running,
#tabs > [data-tab="new"] .systemtable .system.finished > .finished,
#tabs > [data-tab="new"] .systemtable .system.failure > .failure {
  display: block;
}

#tabs > [data-tab="new"] .newsystem input[type="number"] {
  width: 3em;
  text-align: center;
}

#tabs > [data-tab="new"] .swiss table {
  text-align: center;
  display: inline-block;
}

#tabs > [data-tab="new"] .systemtable .swiss table tr td, 
#tabs > [data-tab="new"] .systemtable .swiss table tr {
  vertical-align: top;
  border: none;
}

#tabs > [data-tab="new"] .swiss select {
  overflow-y: hidden;
  margin-bottom: 1em;
  font-size: 1em;
}

#tabs > [data-tab="new"] .system button {
  font-size: 1em;
  padding: 0.5em;
  border-radius: 0.3em;
  display: inline-block;
}

#tabs > [data-tab="new"] .votepermissions {
  display: inline-block;
  font-size: 1.5em;
}

#tabs > [data-tab="new"] .votepermissions .perm {
  cursor: pointer;
}

#tabs > [data-tab="new"] .votepermissions .perm {
  color: #000000;
}

#tabs > [data-tab="new"] .votepermissions .forbidden {
  color: #d3d3d3;
}

#tabs > [data-tab="new"] .votepermissions .perm:hover:not(:active) {
color: #969696;
}

#tabs > [data-tab="new"] .votepermissions .perm:hover:active {
  color: #d3d3d3;
}

#tabs > [data-tab="new"] .votepermissions .perm.forbidden:hover:active {
  color: #000000;
}
