#tabs>[data-tab="new"] .systemtable {
  display: inline-block;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0em;
}

#tabs>[data-tab="new"] .systemtable td, #tabs>[data-tab="new"] .systemtable th {
  padding-right: 1em;
}

#tabs>[data-tab="new"] .systemtable th {
  border-bottom: none;
}

#tabs>[data-tab="new"] .systemtable td:first-child {
  border-left: solid 1px;
}

#tabs>[data-tab="new"] .systemtable td:last-child {
  border-right: none;
}

#tabs>[data-tab="new"] .systemtable tr:nth-child(2) td {
  border-top: solid 1px;
}

#tabs>[data-tab="new"] .systemtable tr:last-child td {
  border-bottom: solid 1px;
}

#tabs>[data-tab="new"] .systemtable tr.firstrow td {
  border-top: solid 1px black;
}

#tabs>[data-tab="new"] .systemtable tr.lastrow td {
  height: 100%;
  vertical-align: top;
}

#tabs>[data-tab="new"] .names {
  white-space: nowrap;
  text-align: left;
  border-right: none !important;
}

#tabs>[data-tab="new"].hidenames .name, #tabs>[data-tab="new"].hidenames .playercol
  {
  display: none;
}

#tabs>[data-tab="new"].maxwidth .name {
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#tabs>[data-tab="new"] .systemtable td.system {
  position: relative;
  padding: 1em 1em 3em 1em;
  border: solid 1px;
  border-radius: 0em 1em 1em 0em;
  overflow: hidden;
  text-align: center;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: -o-min-content;
  min-width: min-content;
  vertical-align: top;
  background-color: #ffffff;
}

#tabs>[data-tab="new"] .systemtable .system>h3:first-child {
  position: relative;
  display: block;
  padding: 0.3em 1em 0.2em 1em;
  margin: -1em -1em 1em -1em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: #d0d0d0;
  text-align: center;
}

#tabs>[data-tab="new"] .systemtable .system>h3:first-child input {
  display: none;
}

#tabs>[data-tab="new"] .systemtable .system>h3:first-child.rename input {
  display: inline-block;
}

#tabs>[data-tab="new"] .systemtable .system>h3:first-child.rename .tournamentname
  {
  display: none;
}

#tabs>[data-tab="new"] .systemtable .system>h3:last-child {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0em;
  padding: 0.2em 0.2em 0.3em 0.2em;
  margin: 0em -1em;
  border-top-style: solid;
  border-top-width: 1px;
  background-color: #d0d0d0;
  text-align: center;
}

#tabs>[data-tab="new"] .systemtable .system>.initial, #tabs>[data-tab="new"] .systemtable .system>.running,
  #tabs>[data-tab="new"] .systemtable .system>.finished, #tabs>[data-tab="new"] .systemtable .system>.idle,
  #tabs>[data-tab="new"] .systemtable .system>.failure {
  display: none;
}

#tabs>[data-tab="new"] .systemtable .system.initial>.initial, #tabs>[data-tab="new"] .systemtable .system.running>.running,
  #tabs>[data-tab="new"] .systemtable .system.finished>.finished, #tabs>[data-tab="new"] .systemtable .system.idle>.idle,
  #tabs>[data-tab="new"] .systemtable .system.failure>.failure {
  display: block;
}

#tabs>[data-tab="new"] .systemtable td.system .tournamentoptions .option {
  margin-bottom: 1em;
}

#tabs>[data-tab="new"] .systemtable td.system .infotext {
  margin: 1em;
}

#tabs>[data-tab="new"] .newsystem button[data-system] {
  display: block;
  margin: 1em auto;
}

#tabs>[data-tab="new"] .newsystem input[type="number"] {
  width: 3em;
  text-align: center;
}

#tabs>[data-tab="new"] .newsystem .notenoughteams {
  display: none;
}

#tabs>[data-tab="new"] .newsystem.notenoughteams .notenoughteams {
  display: block;
}

#tabs>[data-tab="new"] .newsystem.notenoughteams .enoughteams {
  display: none !important;
}

#tabs>[data-tab="new"] .newsystem.notenoughteams {
  padding: 0em !important;
}

#tabs>[data-tab="new"] .system>button, #tabs>[data-tab="new"] .system>div>button
  {
  font-size: 1em;
  padding: 0.5em;
  border-radius: 0.3em;
  display: inline-block;
}