.rankingorderview {
  white-space: nowrap;
}

.rankingorderview>* {
  display: inline-block;
  vertical-align: middle;
}

.rankingorderview>select {
  min-width: 10em;
}

.rankingorderview button {
  display: block;
  font-size: 100%;
}
