#settings p {
  text-align: justify;
}

#settings > .boxview {
  display: inline-box;
  vertical-align: middle;
  max-width: 20em;
  display: inline-block;
}

#settings .csv button, #settings .save button, #settings .autocomplete button,
#settings .devel button {
  background-color: #d0d0d0;
  border-radius: 1em;
  padding: 0.5em;
  cursor: pointer;
  margin-bottom: 1em;
}

#settings button.selected {
  background-color: #ffffff;
}

#settings .boxview > div {
  display: inline-block;
  max-width: 17em;
  vertical-align: top;
  padding: 1em;
}

#settings input[type="file"], #settings button.clear {
  visibility: hidden;
  width: 1px;
  height: 1px;
  float: right;
}

#settings .nojson {
  background-color: #ff0000;
  font-weight: bold;
  font-size: 120%;
}

#settings .local button,
#settings .devel button {
  font-size: 1em;
  padding: 0.5em;
  border-radius: 0.3em;
}

#settings .devel a {
  display: inline-block;
  margin: 1em 1em;
}
