#splash {
  position: absolute;
  z-index: 100;
  left: 50%;
  margin-top: 96px;
  margin-left: -20em;
  width: 30em;
  padding: 2.5em 4em;
  border-radius: 1em 1em 1em 1em;
  background-color: #ffffff;
  text-align: center;
  white-space: nowrap;
}

#splash p {
  margin-bottom: 2em;
  display: none;
}

#splash p a[href] {
  font-weight: bold;
}

#splash > img {
  height: 5em;
}

#splash.loading .loading, #splash.starting .starting, #splash.restoring .restoring, #splash.update .update, #splash.ready .ready, #splash.error .error, #splash.oldinternetexplorer .oldinternetexplorer, #splash.loaderror .loaderror {
  white-space: normal;
  display: block;
}

body:not(.splash) #splash {
  transition: left 1s;
  left: -20em;
}

#splash.hidden {
  display: none;
}

.splash #tabs, .splash .tabmenu {
  opacity: 0;
  transition: opacity 0s;
}

#tabs, .tabmenu {
  opacity: 1;
  transition: opacity 1s ease-in;
}