.teamsizeview {
  text-align: center;
  margin-bottom: 1em;
}

.teamsizeview button.selected {
  background-color: #ffffff;
}

.noprereg>.teamsizeview {
  display: none;
}

@media print {
  .teamsizeview {
    display: none;
  }
}