div#tabs > [data-tab="teams"] {
  text-align: left;
}

#tabs > [data-tab="teams"] div.team, .newteamview {
  display: inline-table;
  vertical-align: middle;
  height: 5em;
  border-radius: 0.5em;
  border-spacing: 0px;
  margin: 0.5em;
  padding: 0em 0.5em;
  text-align: left;
  white-space: nowrap;
}

#tabs > [data-tab="teams"] div.team {
  background-color: #d0d0d0;
}

#tabs > [data-tab="teams"] .teamtable {
  margin-bottom: 1em;
  display: none;
  white-space: nowrap;
}

#tabs > [data-tab="teams"].showtable .teamtable {
  display: table;
}

#tabs > [data-tab="teams"].showtable .teamlist {
  display: none;
}

#tabs > [data-tab="teams"] .teamtable th {
  padding-right: 0.5em;
}

#tabs > [data-tab="teams"] .teamtable .teamno {
  text-align: center;
}

#tabs > [data-tab="teams"] div.teamno {
  display: table-cell;
  background: none;
}

#tabs > [data-tab="teams"] .teamtable .teamno {
  max-width: 3em;
}

#tabs > [data-tab="teams"] div.team .names {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}

#tabs > [data-tab="teams"] div.team .name {
  margin: 0.2em;
}

#tabs > [data-tab="teams"] .team .name:hover {
  cursor: text;
  text-decoration: underline;
}

#tabs > [data-tab="teams"] div.team .name {
  font-weight: bold;
  white-space: nowrap;
}

#tabs > [data-tab="teams"] .newteamview .names > div > .playername {
  margin: 0.5em 0em;
}

#tabs > [data-tab="teams"].maxwidth .team .name {
  width: 10em;
  min-width: 10em;
  max-width: 10em;
  transition: max-width 0.5s;
  overflow-x: hidden;
  /* Cannot do make y visible due to inconsistent standard behavior: */
  /* 'visible' becomes 'auto' if used with 'hidden' as overflow-x */
  /*  overflow-y: visible; */
  overflow-y: hidden;
  text-overflow: ellipsis;
}

#tabs > [data-tab="teams"].maxwidth .team:hover .name {
  width: auto;
  max-width: 50em;
  transition: max-width 0.5s;
}

#tabs > [data-tab="teams"].noprereg .fileloadteams, #tabs > [data-tab="teams"].noprereg .downloadcsvexample {
  display: none;
}

#tabs > [data-tab="teams"] button.delete, #tabs > [data-tab="teams"] button.deleteall {
  display: none;
}

#tabs > [data-tab="teams"] .deletionprompt {
  display: none;
  margin-bottom: 0.2em;
  background-color: #d0d0d0;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 1px;
  padding: 0.5em;
}

#tabs > [data-tab="teams"].deletion .deletionprompt {
  display: inline-block;
}

#tabs > [data-tab="teams"].noprereg button.delete {
  display: initial;
  cursor: crosshair;
}

#tabs > [data-tab="teams"].deletion button.delete {
  background-color: #ff0000;
}

#tabs > [data-tab="teams"].noprereg button.deleteall {
  display: initial;
}

/*
 * as many attributes as possible so specificity jumps up and overwrites everything
 * 0121 -> highest specificity
 */
#tabs > [data-tab="teams"].deletion:hover, #tabs > [data-tab="teams"].deletion .team .name:hover {
  cursor: not-allowed;
  text-decoration: none;
}

#tabs > [data-tab="teams"].deletion .team:hover, #tabs > [data-tab="teams"].deletion .team .name:hover {
  cursor: crosshair;
}

#tabs > [data-tab="teams"].deletion {
  background-color: #969696;
}

#tabs > [data-tab="teams"].deletion .newteamview {
  display: none;
}

#tabs > [data-tab="teams"].noreg button.delete, #tabs > [data-tab="teams"].noreg button.deleteall, #tabs > [data-tab="teams"].noreg .newteamview {
  display: none;
}

@media print {
  #tabs > [data-tab="teams"] .fileloadteams {
    display: none !important;
  }

  #tabs > [data-tab="teams"] .team {
    margin: 0em;
  }

  #tabs > [data-tab="teams"] .team .name:hover {
    cursor: inherit;
    text-decoration: inherit;
  }
}