.voteview .teamno {
  display: table-cell;
  background: none;
}

.voteview {
  display: inline-table;
  padding: 0.2em 0em;
  margin: 0.5em;
  border-radius: 0.5em;
  border: solid 1px #000000;
  background-color: #d3d3d3;
  vertical-align: top;
  text-align: left;
  white-space: nowrap;
}

.voteview .names {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}
