<div data-tab="games" accesskey="g">
  <button class="print left" data-img="print"></button>
  <button class="save left" data-img="save"></button>
  <div class="options">
    <span><input class="maxwidth" type="checkbox" />
      feste Breite
    </span>
    <span><input class="showteamname" type="checkbox" />
      Team-Pseudonym
    </span>
    <span><input class="shownames" type="checkbox" />
      {{ teamtext }}namen
    </span>
  </div>
  <h2>Laufende Spiele</h2>

  <div class="tournamentlist">
    <div class="boxview tournament dontprintresultcol template">
      <h3><span class="tournamentname rename">%% %%</span></h3>

      {% include 'matchtable.html' %}

      <div class="votelist bye">
        <h3>&#x2205; Freilos</h3>
      </div>

      <div class="votelist up">
        <h3>&#x25b2; Hochlos</h3>
      </div>

      <div class="votelist down">
        <h3>&#x25bc; Runterlos</h3>
      </div>

      <div class="teamview voteview template">
        <div class="teamno">##</div>
        <div class="names">
          <div class="teamname rename">%% %%</div>
          <div class="name rename">%% %%</div>
          <div class="name rename">%% %%</div>
          <div class="name rename">%% %%</div>
        </div>
      </div>
    </div>
  </div>
</div>