<div class="loginview">
  {# logged in: the name is the button to everything account-related #}
  <button class="account userinfo">
    <img class="avatar" alt="" src="" />
    <span class="username">%% %%</span>
  </button>

  <button class="login big">login</button>

  <span class="busy spin" data-img="reload" title="Verbindung zum Server"></span>

  <dialog class="accountdialog">
    <h3 class="dialogtitle">
      <img class="avatar" alt="" src="" />
      <span class="username">%% %%</span>
    </h3>

    {# data-href is rewritten to the serving origin by LoginView, so
       staging and localhost stay where they are #}
    <p class="accountlinks">
      <button class="accountlink tiny" data-img="tuvero"
              data-href="https://www.tuvero.de/t/by/me">
        Meine Turniere
      </button>
      <button class="accountlink tiny" data-img="teams"
              data-href="https://www.tuvero.de/registrations">
        Meine Anmeldungen
      </button>
      <button class="accountlink tiny" data-img="settings"
              data-href="https://www.tuvero.de/profile">
        Mein Profil
      </button>
    </p>

    <p class="dialogactions">
      <button class="logout tiny" data-img="globeoff">
        Abmelden
      </button>
      <button data-close>Schließen</button>
    </p>
  </dialog>

  <p class="popupnotice">
    Popup-Blocker aktiv.
    <br>
    Melde dich auf <a href="https://www.tuvero.de/login"
                      target="_blank">https://www.tuvero.de</a> an und probiere es
    nochmal.
  </p>
  <p class="offline hidden">Kein Internet verfügbar.</p>
  <p class="errornotice">
    <span class="online">Server-Kommunikation fehlgeschlagen.</span>
  </p>
</div>
