<div class="matchtable">
  <h3>
    <span class="roundtext">%%</span>
    <span class="round">##</span>
  </h3>
  <table class="background" style="font-size: 100%">
    <tr>
      <th>No.</th>
      <th class="teamcol">Teamname</th>
      <th class="playercol">{{ teamtext }}</th>
      <th class="playercol">{{ teamtext }}</th>
      <th class="playercol">{{ teamtext }}</th>
      <th>No.</th>
      <th class="teamcol">Teamname</th>
      <th class="playercol">{{ teamtext }}</th>
      <th class="playercol">{{ teamtext }}</th>
      <th class="playercol">{{ teamtext }}</th>
      <th class="resultcol">Ergebnis</th>
    </tr>
    <tr class="match template">
      <td class="teamno"></td>
      <td class="teamname rename"></td>
      <td class="name rename"></td>
      <td class="name rename"></td>
      <td class="name rename"></td>
      <td class="teamno"></td>
      <td class="teamname rename"></td>
      <td class="name rename"></td>
      <td class="name rename"></td>
      <td class="name rename"></td>
      <td>
        <div class="result">
          {% include 'resultscore.html' %}
        </div>
        {% include 'finishmatchform.html' %} {% include 'correctionform.html' %}
      </td>
    </tr>
  </table>
</div>