<div class="boxview newsystem system template" data-system="undefined">
  <h3 class="enoughteams">Neue Turnierphase</h3>
  <div class="enoughteams noprint">
    <p class="interlace">
      <input type="number" class="interlacecount" min="1" value="1" />
      Turniere zusammenführen
    </p>
    <p>
      <input type="number" class="tournamentsize" min="2" value="2" />
      {{ teamstext }}
    </p>

    <button data-system="swiss">
      Schweizer System
    </button>

    <button data-system="round">
      Rundenturnier
    </button>

    <button data-system="ko">
      KO-System
    </button>

    <button data-system="placement">
      Platzierungsrunde
    </button>

  </div>
  <div class="notenoughteams noprint">
    Nicht genug {{ teamstext }}
  </div>
</div>
