<div class="boxview placement system template" data-system="placement">
  <h3><span class="tournamentname rename">##</span>
    - Platzierungsrunde</h3>

  <div class="initial">
    <button class="runtournament">
      Platzierungsrunde starten
    </button>
    <br />
    <br />
    <button class="closetournament">
      Platzierungsrunde abbrechen
    </button>
  </div>

  <div class="running">
    <p>
      Platzierungsrunde wird gespielt.
    </p>
    <p>
      Siehe <a href="#history" data-img="history">Turnierverlauf</a>
    </p>
  </div>

  <div class="finished">
    Alle Spiele beendet.
    <br>
    <br>
    <button class="closetournament">
      Platzierungsrunde abschließen
    </button>
  </div>

  <div class="failure">
    Unerwarteter Fehler bei der Turnierberechnung.
  </div>
</div>
