<div class="option">
  Modus
  <select class="mode">
    <option value="acbd">ACBD</option>
    <option value="barrage">Barrage</option>
    <option value="">Jeder gegen Jeden</option>
  </select>
</div>

<div class="option">
  Begegnungen setzen / auslosen
  <br>
  <select class="">
    <option value="assign_order">Nach Eintragungsreihenfolge setzen</option>
    <option value="assign_quarters">Nach Vierteln setzen</option>
    <option value="assign_heads">Poulesköpfe setzen</option>
    <option value="draw">Zufällig auslosen</option>
  </select>
</div>