<div class="boxview poules system template" data-system="poules">
  <h3>
    <span class="tournamentname rename">##</span>
    - Poules</h3>

  <div class="initial">
    <p>
      Anzahl Poules:
      <input class="numpoules" type="number" />
      <br> Dreierpoules:
      <span class="numbyepoules">##</span>
    </p>

    <div class="boxview tournamentoptions">
      <h3>Erweiterte Optionen</h3>
      {% include 'poulesoptions.html' %}
    </div>

    <button class="runtournament">
      Poules starten
    </button>
    <br />
    <br />
    <button class="closetournament">
      Poules abbrechen
    </button>
  </div>

  <div class="running">
    <p>
      Poules wird gespielt.
    </p>
    <p>
      <button class="canonicalteamnames">Teams umbenennen (A1, B2, ...)</button>
    </p>
    <p>
      Siehe
      <a href="#history" data-img="history">Turnierverlauf</a>
    </p>
  </div>

  <div class="finished">
    Alle Spiele beendet.
    <br>
    <br>
    <button class="closetournament finalizeranking">
      Poules abschließen
    </button>
    <p>
      Gleichplatzierte werden automatisch gruppiert.
      <br>
      Für anschließende KO-Runden (ACBD / ABCD)
      <br>
      <b class="numpoulestext">##</b> Teilnehmer pro KO-Turnier angeben.
    </p>
  </div>

  <div class="failure">
    Unerwarteter Fehler bei der Poules-Berechnung.
  </div>
</div>