<div class="option">
  Modus
  <select class="mode">
    <option value="acbd">ACBD</option>
    <option value="barrage">Barrage</option>
    <option value="roundrobin">Jeder gegen Jeden</option>
  </select>
</div>

<div class="option">
  Begegnungen setzen / auslosen
  <br>
  <select class="seed">
    <option value="order">In Eintragungsreihenfolge setzen</option>
    <option value="quarters">In Vierteln setzen</option>
    <option value="heads">Poulesköpfe setzen</option>
    <option value="random">Zufällig auslosen</option>
  </select>
</div>

<div class="option">
  Dreierpoules
  <br>
  <select class="byepoules">
    <option value="front">vordere Poules</option>
    <option value="back">hintere Poules</option>
  </select>
</div>