<div data-tab="ranking" accesskey="r">

  <dialog class="optionsdialog">
    <h3 class="dialogtitle">Ansicht</h3>
    <div class="options">
      <span><input class="maxwidth" type="checkbox" checked="checked" />
        feste Breite
      </span>
      <span><input class="showteamname" type="checkbox" checked="checked" />
        Team-Pseudonym
      </span>
      <span><input class="shownames" type="checkbox" checked="checked" />
        {{ playertext }}namen
      </span>
      <span><input class="abbreviate" type="checkbox" checked="checked" />
        Abkürzungen
      </span>
    </div>
    <p class="dialogactions">
      <button data-close>Schließen</button>
    </p>
  </dialog>
  <div class="tabtitle">
    <h2>Platzierungen</h2>
    <p class="tabactions">
      {# whitespace between icon and label, like the other icon buttons #}
      <button class="print tiny" data-img="print">
        Drucken
      </button>
      <button class="viewoptions tiny" data-img="eye">
        Ansicht
      </button>
    </p>
  </div>

  <div class="tournamentlist">
    <div class="boxview tournament template">
      <h3><span class="tournamentname rename">%% %%</span></h3>

      {% include 'rankingview.html' %}

      <!-- autoformat placeholder :-( -->

      {% include 'correctiontable.html' %}

    </div>
  </div>
</div>