<div data-tab="ranking" accesskey="r">
  {# whitespace between icon and label, like the other icon buttons #}
  <button class="print tiny left" data-img="print">
    Drucken
  </button>
  <div class="options">
    <span><input class="maxwidth" type="checkbox" checked="checked" />
      feste Breite
    </span>
    <span><input class="showteamname" type="checkbox" checked="checked" />
      Team-Pseudonym
    </span>
    <span><input class="shownames" type="checkbox" checked="checked" />
      {{ teamtext }}namen
    </span>
    <span><input class="abbreviate" type="checkbox" checked="checked" />
      Abkürzungen
    </span>
  </div>
  <h2>Platzierungen</h2>

  <div class="tournamentlist">
    <div class="boxview tournament template">
      <h3><span class="tournamentname rename">%% %%</span></h3>

      {% include 'rankingview.html' %}

      <!-- autoformat placeholder :-( -->

      {% include 'correctiontable.html' %}

    </div>
  </div>
</div>