<div class="boxview round system template" data-system="round">
  <h3><span class="tournamentname rename">##</span>
  - Rundenturnier </h3>

  <div class="initial">

    <h3>Wertungsreihenfolge</h3>

    {% include 'rankingorderview.html' %}

    <h3> Runde <span class="nextround">##</span> auslosen </h3>
    <button class="runtournament">
      Runde starten
    </button>
    <button class="closetournament">
      Rundenturnier abbrechen
    </button>
  </div>

  <div class="running">
    <p>
      Runde <span class="round">#</span> wurde ausgelost.
    </p>
    <p>
      Siehe <a href="#history" data-img="history">Turnierverlauf</a>
    </p>
  </div>

  <div class="idle">
    <h3> Runde <span class="nextround">##</span> auslosen </h3>
    <button class="runtournament">
      Runde starten
    </button>
  </div>

  <div class="finished">
    Alle Spiele beendet.
    <br>
    <br>
    <button class="closetournament">
      Rundenturnier beenden
    </button>
  </div>

  <div class="failure">
    Unerwarteter Fehler bei der Turnierberechnung.
  </div>
  <h3><span class="tournamentname">##</span> - Rundenturnier </h3>
</div>

