<p class="serverloading hidden">
  {# whitespace between icon and label, like the icon buttons #}
  <span class="spin tiny" data-img="reload"></span>
  Lade Turniere vom Server …
</p>
<div class="servertournaments">
  <div class="servertournamentview template boxview">
    <h3 class="name">%% %%</h3>
    <p class="serversource">
      <span class="startdate">%% %%</span><span class="sep"> &middot; </span><span class="place">%% %%</span><span class="sep"> &middot; </span><a href="%%%" class="url_href">Online-Turnier</a>
    </p>
    <p>
      {# whitespace between icon and label, like the local boxes #}
      <button class="play tiny" data-img="reload">
        Öffnen
      </button>
    </p>
  </div>
</div>
