<div data-tab="settings" accesskey="o">
  <div class="tabtitle">
    <h2>Optionen und Einstellungen</h2>
    <div class="tabactions">
      {% include 'loginview.html' %}
    </div>
  </div>

  <div class="boxview inline">
    <h3>Schriftgröße</h3>
    <p>Legt auch die Schriftgröße beim Drucken fest.</p>

    <h4>Hauptanwendung</h4>
    {% include 'fontsizeview.html' %}

    <h4>Präsentationsfenster</h4>
    {% include 'fontsizeview.html' %}
  </div>

  <p class="nofilereader">Dieser Browser kann keine lokalen Dateien laden. Aktualisieren sie ihren Browser oder öffnen sie diese Seite in einem moderneren
    Browser. Manche Hersteller stellen keine Updates für ihre Browser unter einigen Betriebssystemen zur Verfügung (z.B.
    Apple mit Safari für Windows).</p>

  <div class="boxview inline export">
    <h3>Export</h3>
    <p>Turnierstand als Datei und Tabellen als .csv</p>
    <p>
      <button class="openexport tiny" data-img="save">Exportieren</button>
    </p>
  </div>

{% include 'devconsole.html' %}

</div>