<div data-tab="settings" accesskey="o">
  <div class="tabtitle">
    <h2>Optionen und Einstellungen</h2>
    <div class="tabactions">
      {% include 'loginview.html' %}
    </div>
  </div>

  <div class="boxview inline">
    <h3>Schriftgröße</h3>

    <h4>Hauptanwendung und Druck</h4>
    {% include 'fontsizeview.html' %}

    <h4>Präsentationsfenster</h4>
    {% include 'fontsizeview.html' %}
  </div>

  <p class="nofilereader">Dieser Browser kann keine lokalen Dateien laden. Aktualisieren sie ihren Browser oder öffnen sie diese Seite in einem moderneren
    Browser. Manche Hersteller stellen keine Updates für ihre Browser unter einigen Betriebssystemen zur Verfügung (z.B.
    Apple mit Safari für Windows).</p>

  <div class="boxview inline viewoptions">
    <h3>Ansicht</h3>
    <div class="options">
      <span><input class="maxwidth" type="checkbox" /> feste Breite</span>
      <span><input class="showteamname" type="checkbox" /> Team-Pseudonym</span>
      <span><input class="shownames" type="checkbox" /> {{ teamtext }}namen</span>
      <span><input class="showtable" type="checkbox" /> Spielelisten</span>
      <span><input class="abbreviate" type="checkbox" /> Abkürzungen</span>
      <span><input class="rankingpoints" type="checkbox" /> Ranglistenpunkte</span>
    </div>
  </div>

{% include 'devconsole.html' %}

</div>