<div data-tab="settings" accesskey="o">
  <h2>Optionen und Einstellungen</h2>

  <div class="boxview inline">
    <h3>Schriftgröße</h3>
    <p>Legt auch die Schriftgröße beim Drucken fest.</p>

    <h4>Hauptanwendung</h4>
    {% include 'fontsizeview.html' %}

    <h4>Präsentationsfenster</h4>
    {% include 'fontsizeview.html' %}
  </div>

  <p class="nofilereader">Dieser Browser kann keine lokalen Dateien laden. Aktualisieren sie ihren Browser oder öffnen sie diese Seite in einem moderneren
    Browser. Manche Hersteller stellen keine Updates für ihre Browser unter einigen Betriebssystemen zur Verfügung (z.B.
    Apple mit Safari für Windows).</p>

  <div class="boxview inline csv">
    <h3>Tabellen-Export</h3>
    <p>Excel-kompatible .csv-Dateien exportieren</p>
    <p class="noadownload">Damit die Datei geöffnet werden kann, muss sie mit der .csv-Dateiendung gespeichert werden, beispielsweise als 'tuvero.csv'.</p>
    <p>
      <button class="tiny teams" data-img="{{ teamsicon }}"></button>
      <button class="tiny ranking" data-img="ranking"></button>
      <button class="tiny history" data-img="history"></button>
      <button class="tiny teams ranking history" data-img="all"></button>
    </p>
    <p>
      <button class="tiny dpv">DPV Ranglistenmeldung</button>
    </p>
  </div>

  <div class="boxview inline">
    <h3>Entwicklerwerkzeuge</h3>
    <a href="#debug" data-img="debug">
      <br> Dev Console
    </a>
  </div>

</div>