<div data-tab="team">
  <div class="hasnoteam">
    <h2>Kein Team ausgewählt</h2>

    <p>Wähle ein Team aus, indem du auf die Teamnummer im
      <a href="#teams">Teams-Tab</a> klickst.</p>
  </div>

  <div class="hasteam">
    <h2>Team
      <span class="teamno">##</span>
    </h2>

    <div class="teamsettings">
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ID</td>
            <td class="teamid">##</td>
          </tr>
          <tr>
            <td>Teamnummer</td>
            <td>
              <input type="text" class="teamnumber" />
            </td>
          </tr>
          <tr>
            <td>Pseudonym</td>
            <td>
              <input type="text" class="alias" />
            </td>
          </tr>
          <tr>
            <td>Verein</td>
            <td>
              <input type="text" class="club" />
            </td>
          </tr>
          <tr>
            <td>Ranglistenpunkte</td>
            <td>
              <input type="number" class="rankingpoints" /> (
              <span class="rankingpointsplayersum">##</span> )
            </td>
          </tr>
          <tr>
            <td>Elo-Punkte</td>
            <td>
              <input type="number" class="elo" />
            </td>
          </tr>
        </tbody>
      </table>

      <button class="update">Speichern</button>
      <button class="reset">Zurücksetzen</button>
    </div>

    <div class="playersettings">
      <h3>Spieler</h3>
      <div class="template player">
        <table>
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Name / Pseudonym</td>
              <td>
                <input type="text" class="alias" />
              </td>
            </tr>

            <tr>
              <td>Vorname</td>
              <td>
                <input type="text" class="firstname" />
              </td>
            </tr>

            <tr>
              <td>Nachname</td>
              <td>
                <input type="text" class="lastname" />
              </td>
            </tr>

            <tr>
              <td>Verein</td>
              <td>
                <input type="text" class="club" />
              </td>
            </tr>
            <tr>
              <td>Email</td>
              <td>
                <input type="text" class="email" />
              </td>
            </tr>
            <tr>
              <td>Lizenznummer</td>
              <td>
                <input type="text" class="license" />
              </td>
            </tr>
            <tr>
              <td>Ranglistenpunkte</td>
              <td>
                <input type="number" class="rankingpoints" />
              </td>
            </tr>
            <tr>
              <td>Elo-Punkte</td>
              <td>
                <input type="number" class="elo" />
              </td>
            </tr>
          </tbody>
        </table>

        <button class="update">Speichern</button>
        <button class="reset">Zurücksetzen</button>
      </div>
    </div>
  </div>
</div>