<div data-tab="teams" data-spriteignore accesskey="t">
  <button class="print left" data-img="print"></button>
  <button class="save left" data-img="save"></button>
  <div class="options">
    <span>
      <input class="maxwidth" type="checkbox" checked="checked" /> feste Breite
    </span>
    <span>
      <input class="rankingpoints" type="checkbox" checked="checked" /> Ranglistenpunkte
    </span>
    <br>
    <br> Zum Umbenennen Namen klicken
  </div>
  <h2>Anmeldung & Turniersystem</h2>

  {% include 'teamsizeview.html' %}

  <br>

  <table class="systemtable background" style="font-size: 100%">
    <tbody>
      <tr>
        <th colspan="2" class="noprint">Platz</th>
        <th>No.</th>
        <th class="playercol">{{ teamtext }}</th>
        <th class="playercol">{{ teamtext }}</th>
        <th class="playercol">{{ teamtext }}</th>
        <th class="rankingpoints">Rangliste</th>
        <th>
          <button class="sortbyrankingpoints rankingpoints">sortieren</button>
        </th>
        <!-- button -->
        <th class="noprint"></th>
      </tr>
      <tr class="team template">
        <td class="rank noprint">##</td>
        <td class="tournamentrank noprint">##</td>
        <td class="teamno">##</td>
        <td class="name rename">%% %%</td>
        <td class="name rename">%% %%</td>
        <td class="name rename">%% %%</td>
        <td class="rankingpoints">%% %%</td>
        <td class="deletebutton">
          <button class="delete mini">x</button>
        </td>
      </tr>
    </tbody>
    <tbody class="newteamview">
      <tr class="middle">
        <td></td>
        <td></td>
        <td class="teamno nextteamnumber">##</td>
        <td class="newteamline">
          <input class="playername mini" type="text" placeholder="{{ teamtext }} 1" />
        </td>
        <td class="newteamline">
          <input class="playername mini" type="text" placeholder="{{ teamtext }} 2" />
        </td>
        <td class="newteamline">
          <input class="playername mini" type="text" placeholder="{{ teamtext }} 3" />
        </td>
        <td>
          <button class="register mini"> + </button>
        </td>
        <td>
          <button class="deleteall">Alle {{ teamstext }} löschen</button>
        </td>
      </tr>
    </tbody>
  </table>

  <br> {% include 'newsystem.html' %} {% include 'swisssystem.html' %} {% include 'roundsystem.html' %} {% include 'kosystem.html'
  %} {% include 'placementsystem.html' %} {% include 'poulessystem.html' %}

</div>