<div data-tab="teams" accesskey="t">

  <dialog class="optionsdialog">
    <h3 class="dialogtitle">Ansicht</h3>
    <div class="options">
      <span>
        <input class="maxwidth" type="checkbox" checked="checked" /> feste Breite
      </span>
      <span>
        <input class="showteamname" type="checkbox" checked="checked" />Teamname</span>
      <span>
        <input class="shownames" type="checkbox" checked="checked" />{{ playertext }}namen</span>
      <span>
        <input class="rankingpoints" type="checkbox" checked="checked" /> Ranglistenpunkte
      </span>
    </div>
    <p class="dialogactions">
      <button data-close>Schließen</button>
    </p>
  </dialog>

  <div class="tabtitle">
    <h2>Anmeldung & Turniersystem</h2>
    <p class="tabactions">
      {# whitespace between icon and label, like the other icon buttons #}
      <button class="print tiny" data-img="print">
        Drucken
      </button>
      <button class="viewoptions tiny" data-img="eye">
        Ansicht
      </button>
    </p>
  </div>


  <table class="systemtable background" style="font-size: 100%">
    <tbody>
      <tr>
        <th colspan="2" class="noprint">Platz</th>
        <th>No.</th>
        <th class="teamcol">{{ teamnametext }}</th>
        <th class="playercol">{{ playertext }}</th>
        <th class="playercol">{{ playertext }}</th>
        <th class="playercol">{{ playertext }}</th>
        <th class="rankingpoints">Rangliste</th>
        <th>
          <button class="sortbyrankingpoints rankingpoints">sortieren</button>
        </th>
        <!-- button -->
        <th class="noprint"></th>
      </tr>
      <tr class="team template">
        <td class="rank noprint">##</td>
        <td class="tournamentrank noprint">##</td>
        <td class="teamno">##</td>
        <td class="teamname rename">%% %%</td>
        <td class="name rename">%% %%</td>
        <td class="name rename">%% %%</td>
        <td class="name rename">%% %%</td>
        <td class="rankingpoints">%% %%</td>
        <td class="deletebutton">
          <button class="delete mini">x</button>
        </td>
      </tr>
    </tbody>
    <tbody class="newteamview">
      <tr class="middle">
        <td></td>
        <td></td>
        <td class="teamno nextteamnumber registeradvanced">##</td>
        {# where the team name carries the registration (TAC), it is
           the field that asks for input and the players are optional #}
        <td class="newteamname teamcol">
          <input class="teamname mini" type="text"
                 placeholder="{% if teamnamefirst %}Teamname{% else %}optional{% endif %}" />
        </td>
        <td class="newteamline playercol">
          <input class="playername mini" type="text"
                 placeholder="{% if teamnamefirst %}optional{% else %}{{ playertext }} 1{% endif %}" />
        </td>
        <td class="newteamline playercol">
          <input class="playername mini" type="text"
                 placeholder="{% if teamnamefirst %}optional{% else %}{{ playertext }} 2{% endif %}" />
        </td>
        <td class="newteamline playercol">
          <input class="playername mini" type="text"
                 placeholder="{% if teamnamefirst %}optional{% else %}{{ playertext }} 3{% endif %}" />
        </td>
        <td class="rankingpoints">
          <input type="number" class="rankingpoints" value="0" />
        </td>
        <td>
          <button class="register mini"> + </button>
        </td>
        <td>
          <button class="deleteall">Alle {{ teamstext }} löschen</button>
        </td>
      </tr>
    </tbody>
  </table>

  <br> {% include 'newsystem.html' %} {% include 'swisssystem.html' %} {% include 'formulexsystem.html' %}
  {% include 'roundsystem.html' %} {% include
  'kosystem.html'
  %} {% include 'placementsystem.html' %} {% include 'poulessystem.html' %}
  {% include 'meleesystem.html' %}

</div>