<div class="timemachinecommitview template boxview">
  <h3>
    <span class="name rename">## ##</span>
  </h3>
  <p class="meta">
    <span class="startdate">## ##</span> &middot; <span class="savedate">## ##</span>
    <button class="moreactions tiny" title="Weitere Aktionen">&ctdot;</button>
  </p>
  <p class="active">
    <span class="syncstatus">## ##</span>
  </p>
  <p class="commitactions">
    <button class="loaddescendant tiny inactive" data-img="reload">
      Öffnen
    </button>
  </p>
  <dialog class="commitdialog">
    <h3 class="dialogtitle">Turnier-Aktionen</h3>
    <button class="upload active tiny" data-img="load">
      Hochladen
    </button>
    <a href="#" target="_blank" rel="noopener"
       class="statelink active hideifnostatelink tiny" data-img="tuvero">
      Turnier online öffnen
    </a>
    <button class="download tiny" data-img="save">
      Export
    </button>
    <button class="removecommit tiny" data-img="clear">
      Löschen
    </button>
    <button class="linkserver active showifnostatelink tiny" data-img="globe">
      Mit Server verknüpfen
    </button>
    <button class="unlinkserver active hideifnostatelink tiny" data-img="globeoff">
      Vom Server trennen
    </button>
    <p class="dialogactions">
      <button data-close>Schließen</button>
    </p>
  </dialog>
  <dialog class="removedialog">
    <h3 class="dialogtitle">Turnier löschen</h3>
    <p class="removequestion">## ##</p>
    <p class="dialogactions">
      <button class="confirmremove tiny" data-img="clear">
        Löschen
      </button>
      <button data-close>Abbrechen</button>
    </p>
  </dialog>
</div>
