<div class="timemachinecommitview template boxview">
  <h3>
    <span class="name rename">## ##</span>
  </h3>
  <p class="meta">
    <span class="startdate">## ##</span> &middot; <span class="savedate">## ##</span>
  </p>
  <p class="active">
    <span class="syncstatus">## ##</span>
  </p>
  <p class="active">
    <a href="#" class="statelink">Turnier online öffnen</a>
  </p>
  <p class="commitactions">
    <button class="loaddescendant tiny inactive" data-img="reload">
      Öffnen
    </button>
    <details class="commitmenu">
      <summary title="Weitere Aktionen">&ctdot;</summary>
      <div class="commitmenu-items">
        <button class="upload active" data-img="load">
          Hochladen
        </button>
        <button class="download" data-img="save">
          Export
        </button>
        <button class="removecommit" data-img="clear">
          Löschen
        </button>
        <label class="active hideifnostatelink">
          <input type="checkbox" class="autoupload" />
          automatisch hochladen
        </label>
      </div>
    </details>
  </p>
</div>