<div class="timemachinecommitview template boxview">
  <h3>
    <span class="name rename">## ##</span>
  </h3>
  <p class="meta">
    <span class="startdate">## ##</span> &middot; <span class="savedate">## ##</span>
    <button class="moreactions tiny" title="Weitere Aktionen">&ctdot;</button>
  </p>
  <p class="active">
    <span class="syncstatus">## ##</span>
  </p>
  <p class="commitactions">
    <button class="loaddescendant tiny inactive" data-img="reload">
      Öffnen
    </button>
  </p>
  <dialog class="commitdialog">
    <h3 class="dialogtitle">Turnier-Aktionen</h3>
    <button class="upload active" data-img="load">
      Hochladen
    </button>
    <p class="active hideifnostatelink statelinkline">
      <a href="#" class="statelink">Turnier online öffnen</a>
    </p>
    <button class="download" data-img="save">
      Export
    </button>
    <button class="removecommit" data-img="clear">
      Löschen
    </button>
    <label class="active hideifnostatelink">
      <input type="checkbox" class="autoupload" />
      automatisch hochladen
    </label>
    <p class="dialogactions">
      <button data-close>Schließen</button>
    </p>
  </dialog>
  <dialog class="removedialog">
    <h3 class="dialogtitle">Turnier löschen</h3>
    <p class="removequestion">## ##</p>
    <p class="dialogactions">
      <button class="confirmremove" data-img="clear">
        Löschen
      </button>
      <button data-close>Abbrechen</button>
    </p>
  </dialog>
</div>
