.fontsizeview {
  display: inline-block;
}

.fontsizeview > button {
  vertical-align: middle;
  height: 1.2em;
  width: 1em;
}

.fontsizeview.fontsizesmall > button.fontsizesmall,
.fontsizeview.fontsizetiny > button.fontsizetiny,
.fontsizeview.fontsizelarge > button.fontsizelarge,
.fontsizeview.fontsizehuge > button.fontsizehuge,
.fontsizeview.fontsizenormal > button.fontsizenormal {
  background-color: #808080;
}

@media print {
  .fontsizeview {
    display: none;
  }
}
