.newteamview {
  background-color: #90ee90;
}

.newteamview .teamno button {
  background-color: #d3d3d3;
  width: inherit;
  height: inherit;
  font-size: 100%;
  border-radius: 0.2em;
  border: none;
  box-shadow: 1px 1px 0px #808080;
  height: inherit;
}

.newteamview>.names {
  padding-left: 0.5em;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  line-height: 1.4em;
}

.newteamview>.names>div {
  vertical-align: middle;
}

.newteamview .playername {
  display: block;
  background-color: #ffffff;
  border: none;
  width: 100%;
  box-shadow: 1px 1px 0px #808080;
  margin: 0em;
}

@media print {
  .newteamview {
    display: none !important;
  }
}