#app table {
  border-spacing: 0.3em 0em;
  border-collapse: collapse;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#app table th {
  font-size: 1.2em;
  white-space: nowrap;
  font-weight: bold;
  padding: 0em 0.2em;
}

#app table.inline {
  display: inline-table;
}

#app table.background > tbody > tr:nth-child(even) {
  background-color: #d3d3d3;
}

#app table td {
  vertical-align: top;
  padding: 0em 0.2em;
}

#app table tr>td:first-child {
  border-left: solid 1px black;
}

#app table tr>td:last-child {
  border-right: solid 1px black;
}

#app table th, #app table tr:last-child {
  border-bottom: solid 1px black;
}

#app table.borderless th, #app table.borderless td, #app table.borderless tr {
  border: none !important;
}

@media print {
  tr, td, th {
    border: none !important;
  }

  tr {
    background-color: transparent !important;
  }

  #app table tr:nth-child(4n+1) td {
    padding-bottom: 0.5em;
  }
}
