.tabmenu {
  display: block;
  margin: 0px 10px -16px 0px;
  white-space: nowrap;
}

.tabmenu > a {
  display: inline-block;
  background: #e8e8e8;
  padding: 16px;
  margin-right: 10px;
  border-radius: 20px 20px 0em 0em;
  outline-style: none;
}

.tabmenu .open {
  background: #ffffff;
}

@media print {
  .tabmenu {
    display: none !important;
  }
}
