div.boxview {
  position: relative;
  margin: 1em;
  padding: 1em;
  border-top-style: none;
  border: solid 1px;
  border-radius: 1em;
  overflow: hidden;
  text-align: center;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: -o-min-content;
  min-width: min-content;
  vertical-align: top;
  background: #ffffff;
}

div.boxview.inline {
  display: inline-block;
}

div.boxview.info {
  vertical-align: middle;
  max-width: 35em;
}

div.boxview.info > p {
  text-align: justify;
}

div.boxview.largeinfo {
  vertical-align: middle;
  max-width: 50em;
}

div.boxview.collapsed {
  border-radius: 1em 1em 0em 0em;
}

div.boxview > h3:first-child {
  position: relative;
  display: block;
  padding: 0.3em 1em 0.2em 1em;
  margin: -1em -1em 1em -1em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background: linear-gradient(#f0f0f0, #e8e8e8);
  text-align: center;
  cursor: pointer;
}

div.boxview > h3:first-child:hover {
    background: #f0f0f0;
}

div.boxview > h3:first-child:active {
  background: linear-gradient(#e8e8e8, #f0f0f0);
}

#tabs div.boxview.collapsed > h3:first-child:after {
  content: "¯";
  float: right;
}

#tabs div.boxview:not(.collapsed) >
h3:first-child:after {
  content: "_";
  float: right;
}

div.boxview > h3:first-child .icon {
  float: right;
}

div.boxview > h3:first-child .icon:hover {
  background: #808080;
}

div.boxview.pagebreak {
  page-break-before: always;
  margin-top: 1.5em;
}

div.boxview.pagebreak:first-child {
  page-break-before: initial;
}

div.boxview:first-child .icon.pagebreak {
  display: none;
}

div.pagebreak > h3:first-child .pagebreak {
  color: #ffffff;
}

@media print {
  div.boxview {
    border: none;
    overflow: visible;
    padding: 0em;
    margin: 0.2em;
  }

  div.boxview.collapsed {
    display: none !important;
  }

  div.boxview > h3:first-child {
    border: none;
    background: none;
    margin: 0em;
  }

  div.boxview > h3:first-child:after {
    display: none !important;
  }

  div.boxview > h3 > .popout {
    display: none !important;
  }
}
